<p id="notice"><%= notice %></p>

<p>
  <b>Prize:</b>
  <%= @group_buy_in.prize_id %>
</p>

<p>
  <b>User:</b>
  <%= @group_buy_in.user_id %>
</p>

<p>
  <b>Group size:</b>
  <%= @group_buy_in.group_size %>
</p>


<%= link_to 'Edit', edit_group_buy_in_path(@group_buy_in) %> |
<%= link_to 'Back', group_buy_ins_path %>
