!= content_for :title, 'Sign in'
!= form_tag session_path do
  
  %fieldset
    %ul
      %li
        != label_tag :username
        != text_field_tag :username
      %li
        != label_tag :password
        != password_field_tag :password
      %li
        != check_box_tag :remember_me, 1, params[:remember_me]
        != label_tag :remember_me
    != submit_tag "Sign in"
  != link_to "Back", root_path
