.reset_password_form
  %h1 Reset Password
  %ul
    = form_for @user, :url => password_reset_path(params[:id]) do |f|
      %li= f.error_messages
      %li= f.label :password
      %li= f.password_field :password
      %li= f.label :password_confirmation
      %li= f.password_field :password_confirmation
      %li= f.submit "Update Password"