.row.offset1
	- if flash[:notice] 
		.row#flash_dat_notice
			#flashNotice 
				%p
					= flash[:notice]
.row.offset1
	%h1 #{@notice.title}
.row.offset1
	.span1.neighborhood_news_thumb{:style => "width:250px;height:250px;margin-top:10px;"}
		= image_tag(@notice.photo.url(:large))
	.span8.neighborhood_news_content
		.row.span8
			%h2 Instituição
			.span8
				= @notice.institution_name
		.row.span8
			%h2 Descrição resumida
			.span8{style: "word-wrap:breakword;"}
				= @notice.summary
		.row.span8
			%h2 Descrição da atividade
			.span8{style: "word-wrap: break-word;"}
				= simple_format(@notice.description)
		.row.span8
			%h2 Endereço da atividade
			= @notice.location
		.row.span8
			%h2 Data da atividade
			= @notice.date.utc.strftime("%d/%m/%Y")
		.row.span8
			%h2 Hora da atividade
			= @notice.date.utc.strftime("%H:%M")
.row.offset1
	- if @current_user and (@current_user.role == "admin" or @current_user.role == "coordenador")
		= link_to "Editar", edit_notice_path(@notice), :style => "font-size:15px;"