<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @notice.title %>
</p>

<p>
  <b>Descrição:</b>
  <%= @notice.description %>
</p>

<p>
  <b>Local:</b>
  <%= @notice.location %>
</p>

<p>
  <b>Data:</b>
  <%= @notice.date %>
</p>


<%= link_to 'Editar', edit_notice_path(@notice) %>
