.hr_report.hr_claimed
  .row
    .span1
      .hr_before_photo
        = image_tag claimed_report.before_photo
    .span2
      .hr_status
      %b Report # #{claimed_report.id}
      .row
        .span2
          %a Reporter:
          %a.user==#{claimed_report.reporter.username unless claimed_report.reporter.nil?}
      .row
        .span2
          %a Claimed:
          %a.user==#{claimed_report.claimer.username unless claimed_report.reporter.nil?}

    .span3.hr_address
      #{claimed_report.complete_address}
  .row
    .span6
      .report_content
        "
        = claimed_report.report
        "
