.hr_report.hr_resolved
  .row
    .span1
      .hr_before_photo
        = image_tag resolved_report.before_photo
      .hr_after_photo
        = image_tag resolved_report.after_photo
      
    .span3.hr_address
      #{resolved_report.complete_address}
    .span4
      .report_content
        = resolved_report.report
      - if resolved_report.reporter
        %a Marcado:
        %a.user
          = link_to resolved_report.reporter.display_name + " - " + resolved_report.strftime_with(:created_at), user_path(resolved_report.reporter)
        %br
      %a Eliminado: 
      %a.user
        - if resolved_report.eliminator_id
          = link_to resolved_report.eliminator.display_name + " - " + resolved_report.strftime_with(:eliminated_at), user_path(resolved_report.eliminator)
        - else
          = resolved_report.eliminator_name
