.row
  .span15.offset1    
    %h1
      - if @house.user.role == "verificador"
        - if @house.user.gender == true
          #{@house.name} - verificador
        - else
          #{@house.name} - verificadora
      - elsif @house.user.role == "coordenador"
        - if @house.user.gender == true
          Casa #{@house.name} - coordenador
        - else
          Casa #{@house.name} - coordenadora
      - else
        Casa #{@house.name}
.row
  .span9.offset1
    %br
    .row
    
      .span4        
        - if @house.profile_photo.nil?
          = image_tag "default_images/house_default_image.png", :id => 'house_photo'
        - else
          = image_tag @house.profile_photo.url(:large), :id => 'house_photo'
      .span5
        %br
        .row
          .span2
            #house_neighborhood.house_gray
              .row
                Comunidade
              .row
                #house_neighborhood_bg
                  = link_to @house.neighborhood.name, neighborhood_path(@house.neighborhood)
              .row
                #{@house.location.nation}             
          .span2.offset1
            .house_gray            
              .row{style: "margin-left:-40px;"}
                Pontos da casa
              .row
                #house_points_bg
                  #{ @house.points.to_s}          
          .row
            #house_badges
            .span5


    .row
      .span10
        %h2 Moradores
        - for member in @house.members.slice(0, 7)
          #house_members.span1
            .row
              - if (member.profile_photo_file_name.nil?)
                = link_to image_tag("default_images/profile_default_image.png"), user_path(member)
              - else
                = link_to image_tag(member.profile_photo.url(:small), :width => 70, :height => 70), user_path(member)
            .row
              = link_to member.first_name, user_path(member)

    .row
      .span10
        %h2 Vizinhos na #{@house.neighborhood.name}
        #houses_in_neighborhood
          - if @neighbors.count == 1 
            %p Não tem nenhum vizinho usando Dengue Torpedo. Recrute alguem!
          - else
            %ul
            - for neighbor in @neighbors
              %li
                - if neighbor.profile_photo_file_name.nil?
                  = link_to image_tag("default_images/house_small_default_image.png"), house_path(neighbor)
                - else 
                  = link_to image_tag(neighbor.profile_photo.url(:small), :width => 70, :height => 70), house_path(neighbor)
                  
    /.row
    /  .span8
    /    = render :partial => "posts/new", locals: { wall: @house }
    %br
    .row{:style => "margin-top:13px;"}
      %h2.span15
        Blogs e focos marcados
    /.row
    /  .span12          
    /    = link_to 'Todos', house_path(@user, :filter => 'all'), :class => @feed_active_all
    /    |
    /    = link_to 'Focos', house_path(@user, :filter => 'reports'), :class => @feed_active_reports
    /    |
    /    = link_to 'Blog', user_path(@user, :filter => 'posts'), :class => @feed_active_posts
    .row
      .span9
        - for post in @house.posts.sort{|a, b| b.created_at <=> a.created_at}
          = render :partial => "/posts/post", :locals => {:post => post}
    
  .span6
    .row{:style => "margin-top:-37px;"}
      %h2.span6 Focos marcados perto da casa!
      #house_reports.span6
        .row
          .span6
            #map{style: "margin-left:5px;"}
              :javascript
                var map;

                require(["esri/map", "esri/toolbars/draw", "esri/tasks/locator", "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference", "esri/geometry/Point", "esri/config", "esri/graphic", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol", "dojo/_base/Color", "esri/symbols/PictureMarkerSymbol", "dojo/domReady!"], function(Map, Draw, Locator, Tiled, SpatialReference, Point, Geometry, Graphic, SimpleMarkerSymbol, SimpleLineSymbol, Color, PictureMarkerSymbol) {
                  var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, new esri.SpatialReference({"wkid":29193}));

                  var point = new Point(680291.2151545063, 7471401.29586681, new esri.SpatialReference({wkid: 29193}));
                  map = new Map("map", {
                    center: point,
                    zoom: 5,
                    extent: customExtent
                  });
                  
                  var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
                  map.addLayer(tiled);
                  var picBaseUrl = "http://static.arcgis.com/images/Symbols/Shapes/";
                  var gray = new PictureMarkerSymbol(picBaseUrl + "BlackPin1LargeB.png", 48, 64).setOffset(0, 15);
                  var blue = new PictureMarkerSymbol(picBaseUrl + "BluePin1LargeB.png", 48, 64).setOffset(0, 15);
                  var red = new PictureMarkerSymbol(picBaseUrl + "OrangePin1LargeB.png", 48, 64).setOffset(0, 15);
                  var markers = #{@markers.to_json};
                  var open_markers = #{@open_markers.to_json};
                  var eliminated_markers = #{@eliminated_markers.to_json};
                  map.on("load", function() {
                    var markers = #{@markers.to_json};
                    for (var i = 0; i < markers.length; i++) {
                      var symbol = new SimpleMarkerSymbol();
                      symbol.setStyle("STYLE_PATH");
                      symbol.setPath("M 10 10 L30 10 L20 30z");
                      symbol.setColor(new Color("red"));
                      map.graphics.add(new Graphic(new Point(markers[i].x, markers[i].y), red));
                    }
                  });

                  $("a#house_todos_report_button").click(function() {
                    map.graphics.clear();
                    var markers = #{@markers.to_json};
                    for (var i = 0; i < markers.length; i++) {
                      var symbol = new SimpleMarkerSymbol();
                      symbol.setStyle("STYLE_PATH");
                      symbol.setPath("M 10 10 L30 10 L20 30z");
                      symbol.setColor(new Color("red"));

                      map.graphics.add(new Graphic(new Point(markers[i].x, markers[i].y), red));
                    }
                  });
                  $("a#house_open_report_button").click(function() {
                    map.graphics.clear();
                    var markers = #{@open_markers.to_json};
                    for (var i = 0; i < markers.length; i++) {
                      var symbol = new SimpleMarkerSymbol();
                      symbol.setStyle("STYLE_PATH");
                      symbol.setPath("M 10 10 L30 10 L20 30z");
                      symbol.setColor(new Color("red"));

                      map.graphics.add(new Graphic(new Point(markers[i].x, markers[i].y), red));
                    }
                  });
                  $("a#house_resolved_report_button").click(function() {
                    map.graphics.clear();
                    var markers = #{@eliminated_markers.to_json};
                    for (var i = 0; i < markers.length; i++) {
                      var symbol = new SimpleMarkerSymbol();
                      symbol.setStyle("STYLE_PATH");
                      symbol.setPath("M 10 10 L30 10 L20 30z");
                      symbol.setColor(new Color("red"));

                      map.graphics.add(new Graphic(new Point(markers[i].x, markers[i].y), gray));
                    }
                  });
                });
        .row
          .span6
            #report_status_bar
              %ul
                %li
                  %a{:href => "#", :style => "color:black;", :id => "house_todos_report_button"}
                    #house_all_report_button.house_report_button.span1.active
                      .row
                        = @house.reports.count
                      .row Todos
                %li
                  %a{:href => "#", :id => "house_open_report_button"}
                    #house_open_report_button.house_report_button.span1
                      .row
                        = @house.created_reports.count
                      .row Em aberto
                %li
                  %a{:href => "#", :id => "house_resolved_report_button"}
                    #house_resolved_report_button.house_report_button.span1
                      .row
                        = @house.eliminated_reports.count
                      .row Eliminados
              
        .row
          #list_of_house_reports
            - for report in @house.reports
              .row
                - if report.status == :reported
                  = render :partial => "/houses/open_report", :object => report
                - if report.status == :eliminated
                  = render :partial => "/houses/resolved_report", :object => report
             

:javascript
  $(document).ready( function() {
  $(".map_container").css("height", "180px")
  })
