.row
  .span15.offset1    
    %h1
      #{@house.name}
    %h2.house_gray= @house.location.complete_address
.row
  .span9.offset1
    %br
    .row
    
      .span4        
        - if @house.profile_photo.nil?
          = image_tag "default_images/house_default_image.png", :id => 'house_photo'
        - else
          = image_tag @house.profile_photo.url(:large), :id => 'house_photo'
      .span5
        %br
        .row
          .span2
            #house_neighborhood.house_gray
              .row
                Comunidade
              .row
                #house_neighborhood_bg
                  = link_to @house.neighborhood.name, neighborhood_path(@house.neighborhood)
              .row
                #{@house.location.nation}             
          .span2.offset1
            .house_gray            
              .row
                Pontos
              .row
                #house_points_bg
                  #{ @house.points.to_s}          
          .row
            #house_badges
            .span5


    .row
      .span10
        %h2 Moradores
        - for member in @house.members.slice(0, 4)
          #house_members.span1
            .row
              - if (member.profile_photo_file_name.nil?)
                = link_to image_tag("default_images/profile_default_image.png"), user_path(member)
              - else
                = link_to image_tag(member.profile_photo.url(:small)), user_path(member)
            .row
              = link_to member.username, user_path(member)
                  
    .row
      .span8
        = render :partial => "posts/new", locals: { wall: @house }
        
    .row
      .span9
        %h3 Mensagens da casa:
        - for post in @house.posts
          = render :partial => "/posts/post", :locals => {:post => post}
    
  .span6
    .row
      %h2.span6 Focos marcados perto da casa!
      #house_reports.span6
        .row
          .span6{:style => "margin-left:-5px;"}
            = gmaps(markers: { data: @house_reports_gmap_json },  map_options: @map_options)
        .row
          .span6
            #report_status_bar
              %ul
                %li
                  #house_all_report_button.house_report_button.span1
                    .row
                      %a{:href => "#"}= @house.reports.count
                    .row Todos
                %li
                  #house_open_report_button.house_report_button.span1
                    .row
                      %a{:href => "#"}= @house.created_reports.count
                    .row Em aberto
                %li 
                  #house_claimed_report_button.house_report_button.span1 
                    .row
                      %a{:href => "#"}= @house.claimed_reports.count
                    .row Assumidos
                %li
                  #house_resolved_report_button.house_report_button.span1
                    .row
                      %a{:href => "#"}= @house.eliminated_reports.count
                    .row Eliminados
              
        .row
          #list_of_house_reports
            - for report in @house.reports
              .row
                - if report.status == :reported
                  = render :partial => "/houses/open_report", :object => report
                - if report.status == :claimed
                  = render :partial => "/houses/claimed_report", :object => report
                - if report.status == :eliminated
                  = render :partial => "/houses/resolved_report", :object => report
             
    .row
      .span6
        %h3 Vizinhos na #{@house.neighborhood.name}
        #houses_in_neighborhood
          - if @neighbors.count == 1 
            %p Não tem nenhum vizinho usando Dengue Torpedo. Recrute alguem!
          - else
            %ul
            - for neighbor in @neighbors
              %li
                - if neighbor.profile_photo_file_name.nil?
                  = link_to image_tag("default_images/house_default_image.png"), house_path(neighbor)
                - else 
                  = link_to image_tag(neighbor.profile_photo.url(:small)), house_path(neighbor)

:javascript
  $(document).ready( function() {
  $(".map_container").css("height", "180px")
  })
