#left_section
  #house_detail
    %h2= @house.name + " @" + @house.neighborhood    
    %figure#house_photo
    %ul#house_stats
      %li 
        Points
        %section#house_stats_box
          = @house.points
      %li 
        Neighborhood
        %section#house_stats_box
          = @house.neighborhood
    %ul#house_members
      - for member in @house.members.slice(0, 4)
        %li
          %figure.house_member_photo
  
  #house_highlight
    %h3 House Highlight
  #house_posts
    %h3 Posts section
    #events_list
      %ul
        - for event in @house.events
          %li
            = link_to event, :remote => true do
              %figure.image_placeholder
    #event_info 
      - if @house.events.size > 0
        = render :partial => "/events/event", :object => @house.events.first

#right_section
  #house_reports
    %h4 House Reports:
    = gmaps(markers: { data: @house_reports_gmap_json }, map_options: { maxZoom: 12 }, map_options: { id: "reports_map" })
    %ul#report_status
      %li#house_open_report_button
        %a{:href => "#"}
          = @house.created_reports.count
          %br Open
      %li#house_claimed_report_button 
        %a{:href => "#"}
          = @house.claimed_reports.count
          %br Claimed
      %li#house_resolved_report_button 
        %a{:href => "#"}
          = @house.eliminated_reports.count
          %br Resolved   
    - for report in @house.reports
      - if report.status == 0
        = render :partial => "/reports/open_report", :object => report
      - if report.status == 1
        = render :partial => "/reports/claimed_report", :object => report
      - if report.status == 2
        = render :partial => "/reports/resolved_report", :object => report

