.row
  .span10.offset1
    %h1= @house.name + ", " + @house.location.address
.row
  .span10.offset1
    .row
      .span2
        - if @house.profile_photo.nil?
          = image_tag("default_images/house_default_image.png")
        - else
          = image_tag(@house.profile_photo.url(:large))
      #house_detail.span7
        %ul
          %li 
            %h3 Neighborhood
          %li
            = @house.neighborhood.name + ", " + @house.location.city + " " + @house.location.nation
          %li 
            %h3 Points
          %li
            = @house.points.to_s + " points"
          %li
            %h3 House Badges
          %li You don't have any badge yet.     
    .row
      .span10
        %h3 House Memebers
        - for member in @house.members.slice(0, 4)
          #house_members.span1
            .row
              - if (member.profile_photo_file_name.nil?)
                = link_to image_tag("default_images/profile_default_image.png"), user_path(member)
              - else
                = link_to image_tag(member.profile_photo.url(:small)), user_path(member)
            .row
              = link_to member.username, user_path(member)
                  
    .row
      .span10
        = render :partial => "/posts/new"
        
    .row
      .span10
        %h3 What's happening?
        %ul
          - for post in @house.posts
            %li= render :partial => "/posts/post", :locals => {:post => post}
    
  .span5
    .row
      %h3.span5 Reports nearby this house:
      #house_reports.span5
        .row
          .span5
            = gmaps(markers: { data: @house_reports_gmap_json }, map_options: { maxZoom: 12 }, map_options: { id: "reports_map" })
        .row
          .span5
            #report_status_bar
              %ul
                %li
                  #house_all_report_button.span1
                    .row
                      %a{:href => "#"}= @house.reports.count
                    .row All 
                %li
                  #house_open_report_button.span1
                    .row
                      %a{:href => "#"}= @house.created_reports.count
                    .row Open
                %li 
                  #house_claimed_report_button.span1 
                    .row
                      %a{:href => "#"}= @house.claimed_reports.count
                    .row Claimed
                %li
                  #house_resolved_report_button.span1
                    .row
                      %a{:href => "#"}= @house.eliminated_reports.count
                    .row Resolved
                  
              
        .row
          #list_of_house_reports
          - for report in @house.reports
            .row
            - if report.status == :reported
              = render :partial => "/reports/open_report", :object => report
            - if report.status == :claimed
              = render :partial => "/reports/claimed_report", :object => report
            - if report.status == :eliminated
              = render :partial => "/reports/resolved_report", :object => report
             
    .row
      .span5
        %h3 Neighbors: 
        #houses_in_neighborhood
          - if @neighbors.count == 1 
            %p You don't have any neighbors that are in the game
          - else
            %ul
            - for neighbor in @neighbors
              %li
                =link_to image_tag("http://placehold.it/57x57"), house_path(neighbor)
              
    
