.row
  .span9.offset1    
    %span
      %h1
        = @house.name + ", "
        .house_gray
          = @house.location.address
.row
  .span9.offset1
    %br
    .row
    
      .span4        
        - if @house.profile_photo.nil?
          = image_tag "default_images/house_default_image.png", :id => 'house_photo'
        - else
          = image_tag @house.profile_photo.url(:large), :id => 'house_photo'
      .span5
        %br
        .row
          .span2
            #house_neighborhood.house_gray
              .row
                Neighborhood
              .row
                #house_neighborhood_bg
                  #{@house.neighborhood.name}
              .row
                #{@house.location.city}, #{@house.location.nation}             
          .span2.offset1
            .house_gray            
              .row
                Points
              .row
                #house_points_bg
                  = @house.points.to_s          
          .row
            #house_badges
            .span5
              %h3 This house currently has no badges yet.

    .row
      .span10
        %h3 House Members
        - for member in @house.members.slice(0, 4)
          #house_members.span1
            .row
              - if (member.profile_photo_file_name.nil?)
                = link_to image_tag("default_images/profile_default_image.png"), user_path(member)
              - else
                = link_to image_tag(member.profile_photo.url(:small)), user_path(member)
            .row
              = link_to member.username, user_path(member)
                  
    .row
      .span8
        = render :partial => "/posts/new"
        
    .row
      .span10
        %h3 What's happening?
        %ul
          - for post in @house.posts
            %li= render :partial => "/posts/post", :locals => {:post => post}
    
  .span6
    .row
      %h3.span6 Reports nearby this house:
      #house_reports.span6
        .row
          .span6
            #map_container
              #reports_map_temp
                = image_tag 'home_images/House_map.png'
            -#= gmaps(markers: { data: @house_reports_gmap_json }, map_options: { maxZoom: 12 }, map_options: { id: "reports_map" })
        .row
          .span6
            #report_status_bar
              %ul
                %li
                  #house_all_report_button.span1
                    .row
                      %a{:href => "#"}= @house.reports.count
                    .row All 
                %li
                  #house_open_report_button.span1
                    .row
                      %a{:href => "#"}= @house.created_reports.count
                    .row Open
                %li 
                  #house_claimed_report_button.span1 
                    .row
                      %a{:href => "#"}= @house.claimed_reports.count
                    .row Claimed
                %li
                  #house_resolved_report_button.span1
                    .row
                      %a{:href => "#"}= @house.eliminated_reports.count
                    .row Resolved
                  
              
        .row
          #list_of_house_reports
          - for report in @house.reports
            .row
            - if report.status == :reported
              = render :partial => "/houses/open_report", :object => report
            - if report.status == :claimed
              = render :partial => "/houses/claimed_report", :object => report
            - if report.status == :eliminated
              = render :partial => "/houses/resolved_report", :object => report
             
    .row
      .span5
        %h3 Neighbors in #{@house.neighborhood.name}: 
        #houses_in_neighborhood
          - if @neighbors.count == 1 
            %p You don't have any neighbors that are in the game
          - else
            %ul
            - for neighbor in @neighbors
              %li
                =link_to image_tag("http://placehold.it/57x57"), house_path(neighbor)
              
    
