<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @badge.user_id %>
</p>

<p>
  <b>Prize:</b>
  <%= @badge.prize_id %>
</p>


<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
