%li.span3.prizes.possible
	.status.possible
		.name{style: "height:20px;"}
			= link_to coupon.prize.sponsor_name, "/sponsors/#{coupon.prize.user.id}"
		.points
			#{coupon.prize.cost} pontos
	.prize_content
		- if coupon.prize.prize_photo_file_name.nil?
			= link_to image_tag("default_images/prize_default_image.jpg", :class => "prizes"), prize_code_path(coupon)
		- else
			= link_to image_tag(coupon.prize.prize_photo.url(:large), :class => "prizes"), prize_code_path(coupon)
		.description
			- if coupon.user == @current_user
				= link_to coupon.prize.prize_name, prize_code_path(coupon)	
			- else
				coupon.prize.prize_name	
		- if coupon.user == @current_user
			.stock
				= coupon.code
			.redeem_by
				- if coupon.prize.expire_on
					Resgate até: #{coupon.created_at.strftime("%d/%m/%Y")}
