<%= form_for(@prize_code) do |f| %>
  <% if @prize_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prize_code.errors.count, "error") %> prohibited this prize_code from being saved:</h2>

      <ul>
      <% @prize_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :prize_id %><br />
    <%= f.number_field :prize_id %>
  </div>
  <div class="field">
    <%= f.label :obtained_on %><br />
    <%= f.datetime_select :obtained_on %>
  </div>
  <div class="field">
    <%= f.label :expire_by %><br />
    <%= f.datetime_select :expire_by %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
