.row.offset1
  %h1
    Cupom
  - if not @prize_code.expired?
    %button{:style => "position:absolute;top:7px;left:629px;"}
      = link_to "Imprimir", prize_code_path(@prize_code) + ".pdf"
%br
.row.offset1
  .coupons
    .status
      .name
        = link_to @prize.user.house.name
      
      .pontos
        #{@prize.cost} pontos
      - if @prize_code.expired?
        .countdown.countdownHolder{:style => "width:200px;height: 20px;background-color:transparent; border: none;float:right;margin-top:6x;margin-right:20px;font-size:16px;"}
          Tempo de resgate expirado
      - else
        .countdown.countdownHolder{:style => "width:150px;height: 20px;background-color:transparent; border: none;float:right;margin-top:-4px;margin-right:0px;font-size:26px;"}
        :javascript
                var newYear = new Date(#{(@deadline + 3600 * 24).strftime("%s").to_i * 1000});
                $(".countdown").countdown({until: newYear, compact: 'true'});
    .content{:style => "padding:10px;"}
      - if @prize.prize_photo_file_name.nil?
        = image_tag("default_images/prize_default_image.jpg", :class => "coupons")
      - else
        = image_tag(@prize.prize_photo.url(:large))
      %h1 #{@prize.prize_name}
      
      .description
        #{@prize.description}
      .users
        Oferecido por: #{@prize.user.house.name}
        %br
        Resgatado por: #{@prize_code.user.full_name}

      .coupon_code
        Cupom: #{@prize_code.code}
      .statement{:style => "float:left;margin-bottom:10px;"}
        • Eu, #{@prize_code.user.display_name}, portador do celular número #{@prize_code.user.phone_number}, participante do site Dengue Torpedo, com perfil na página <a style="text-decoration:underline;">http://denguetorpedo.com/users/#{@prize_code.user.id}</a>, solicito o resgate do prêmio acima.
      %br
      .statement{:style => "margin-bottom:10px;"}
        • Para retirar o seu prêmio compareça ao estabelecimento de porte desse cupom e de um documento válido com foto (ex. RG).
      .statement{:style => "margin-bottom: 20px;"}
        • Resgate até: O cupom é válido em até 7 dias. (até #{@deadline.strftime("%d/%m/%Y")})

      .statement
        • Endereço: #{@prize.user.house.location.address}
      %br
      #map{:style => "width:400px; height:400px; border:1px solid #aaaaaa;"}
      :javascript
        var map;
        require(["esri/map", "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference", "esri/geometry/Point", "esri/config", "esri/graphic", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/PictureMarkerSymbol", "dojo/domReady!"], function(Map, Tiled, SpatialReference, Point, Geometry, Graphic, SimpleMarkerSymbol, PictureMarkerSymbol) {
          var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, new esri.SpatialReference({"wkid":29193}));

          var point = new Point(680291.2151545063, 7471401.29586681, new esri.SpatialReference({wkid: 29193}));
          map = new Map("map", {
            center: point,
            zoom: 6,
            extent: customExtent
          });
          
          var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
          map.addLayer(tiled);
          var orange = new PictureMarkerSymbol("/assets/markers/orange_marker.png", 64, 64).setOffset(15, 15);

          map.on("load", function() {
            map.graphics.add(new Graphic(point, orange));
          });   
        }); 



