.row
  .span15.offset1
    %h1= @sponsor.house.name
    %br
    %h2{style: "font-size:20px;"} Códigos de controle dos prêmios
    %p Clique nos links dos prêmios abaixo para ver o código que foi gerado para cada prêmio.
    %br

    %br

.row
  .span12.offset2
    %ul
    - @prizes.sort.each do |prize|
      %h2 #{prize.prize_name}
      %table{:cellpadding => 20}
        %tr
          %th Resgatado
          %th Código
          %th Usuário
          %th Celular
          %th Operadora
        - prize.prize_codes.each do |cupon|
          %tr
            %td{style: "text-align:center;"}
              %input{type: "checkbox"}
            %td= cupon.code
            %td= cupon.user.display_name
            %td= cupon.user.phone_number
            %td{style: "text-align:center;"}
              = cupon.user.carrier