= form_for(@user) do |f|
 = error_messages_for @user
 %a#title Register
 %p
  = f.text_field :username, :placeholder => "Username"
 %p
  = f.text_field :email, :placeholder => "Email"
 %p
  = f.password_field :password, :placeholder => "Password"
 %p
  = f.password_field :password_confirmation, :placeholder => "Password Confirmation"
 = f.submit "Submit"