.prefix_760
  #registration
    = form_for(@user, :html => {:autocomplete => "off"}) do |f|
      = error_messages_for @user
      %a#title Register
      .Register_Field
        = f.text_field :username, :placeholder => "Username"
      .Register_Field
        = f.text_field :email, :placeholder => "Email"
      .Register_Field
        = f.password_field :password, :placeholder => "Password"
      .Register_Field
        = f.password_field :password_confirmation, :placeholder => "Password Confirmation"
      = f.submit "Submit"
