
.user_report.user_open_report
  .row
    .span8
      %h4== Report #{open_report.id}: #{open_report.complete_address}
    .span2.user_report_time
      = open_report.strftime_updated_at
      
  .row
    .span2.user_before_photo
      = image_tag open_report.before_photo(:medium)

    .span7
      .row
        .user_report_content.span7
          "
          = open_report.report            
          "
      .row.user_report_people
        Reporter:
        %a.user==#{open_report.reporter.username unless open_report.reporter.nil?}
        %br
        =link_to 'Claim this report!', '#'
    .span1.user_report_status.status
      Open
  .row
    .user_report_options
      =link_to (image_tag 'icons/reports icon/emptystar.png', :id=>'user_report_favorite'), '#'
      -if @isPrivatePage
        =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), '#'










