#user_activity_list.span11
  .user_activity_item
    .row
      .user_activity_thumb.span2
        - if @user.profile_photo_file_name.nil?
          = image_tag("default_images/profile_default_image.png")
        - else 
          = image_tag(@user.profile_photo.url(:large))

      .span7
        .row
          .user_activity_headline.span2
            %h4
              = show_post.title
        
          .span5
            .row
              // removed
          
        .row
          .user_activity_content.span7
            = show_post.content
      .user_activity_options.span2
        = show_post.updated_at
        .user_activity_icons
          =link_to (image_tag 'icons/reports icon/emptystar.png', :id=>'user_report_favorite'), '#'
          -if @isPrivatePage
            =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), '#'