.user_activity_item{:style => "width:auto;margin: 10px;"}
  .row
    .user_activity_thumb.span2
      - if @user.profile_photo_file_name.nil?
        = image_tag("default_images/profile_default_image.png")
      - else 
        = image_tag(@user.profile_photo.url(:large))

    .span8
      .row
        .user_activity_headline.span7{:style => "float:left;"}
          %h2
            = show_post.title
      
      .row{:style => "min-height: 80px;"}
        .user_activity_content.span7
          = show_post.content
      .row{:style => "float:right;margin-right:-48px"}
        = 'Postado: ' + show_post.strf_updated_at
        -if @isPrivatePage
          =link_to (image_tag 'icons/reports icon/delete1.png', :id=>'user_post_delete'), user_post_path(@current_user.id, show_post.id), :confirm => "Are you sure?", :method => :delete