.user_form.offset1
  %h1 Configurações da conta
 
  - if flash[:notice] 
    %h2.notice{style: "margin: 10px; width: 700px;"}  
      = flash[:notice]
        
  = form_for(@user, :url => {:action => "update", :html => {:autocomplete => "off", :multipart => true}}) do |f|
    = f.error_messages
    %h2 Configurações de usuário
    
    = f.label "Nome de usuário"
    = f.label @current_user.username, {style: "font-weight: bold;"}
  
    = f.label "Celular"
    = f.text_field :phone_number
    
    = f.label "Confirmar celular"
    = text_field_tag("phone_number_confirmation")
  
    = f.label "Email"
    = f.text_field :email

    = f.label "Foto de perfil"
    = f.file_field :profile_photo
    
    %h2 Esqueci minha senha
    = link_to "Clique para recuperar senha", edit_password_reset_path(@current_user), :id => "reset_password_link"
      
    %h2 Configurações da casa

    = f.fields_for :location do |location_form|
      = location_form.label "* Endereço da casa"
      = location_form.text_field :address, value: @user.location.complete_address if @user.location
      = location_form.label "* Bairro"
      = location_form.text_field :neighborhood, value: @user.location.neighborhood_name if @user.location
  
    = f.fields_for :house do |house_form|
      = house_form.label "* Nome da casa (máximo 16 carácters)"
      = house_form.text_field :name, :maxlength => "16"
      = house_form.label "Foto da casa"
      = house_form.file_field :profile_photo

    = f.hidden_field :confirm, :value => @confirm
    
    - if @confirm == 0
      %br
      = f.submit "Atualizar"
    - else
      %br
      = f.submit "Confirmar", {:style => "margin-bottom: 20px;"}
      %button
        = link_to "Cancelar", edit_user_path(@current_user)