= content_for :title, 'Update Profile'
.update_background
  .update_padding
    .update_width
      = error_messages_for @user
      #registration
        = form_for(@user, :url => {:action => "update"}, :html => {:autocomplete => "off"}) do |f|
          %a#title Update Profile
          .register_field
            = f.label "Username"
            = f.text_field :username
          .register_field
            = f.label "Email"
            = f.text_field :email
          .register_field
            = f.label "Password"
            = f.password_field :password
          .register_field
            = f.label "Password Confirmation"
            = f.password_field :password_confirmation

          = f.fields_for :house do |h|
            .register_field
              = h.label "House Name"
              = h.text_field :name
            = h.fields_for :location do |l|
              .register_field
                = l.label "Address"
                = l.text_field :address
              .register_field
                = l.label "Neighborhood"
                = l.text_field :neighborhood
          = f.submit "Update"

