= content_for :title, 'Update Profile'
.update_background
  .update_padding
    .update_width
      = error_messages_for @user
      #registration
        = form_for(@user, :url => {:action => "update"}, :html => {:autocomplete => "off"}) do |f|
          %a#title Update Profile
          .Register_Field
            = f.label "Username"
            = f.text_field :username
          .Register_Field
            = f.label "Email"
            = f.text_field :email
          .Register_Field
            = f.label "Password"
            = f.password_field :password
          .Register_Field
            = f.label "Password Confirmation"
            = f.password_field :password_confirmation

          = f.fields_for :house do |h|
            .Register_Field
              = h.label "House Name"
              = h.text_field :name
            = h.fields_for :location do |l|
              .Register_Field
                = l.label "Address"
                = l.text_field :address
              .Register_Field
                = l.label "Neighborhood"
                = l.text_field :neighborhood
              .Register_Field
                = l.label "City"
                = l.text_field :city
              .Register_Field
                = l.label "State"
                = l.text_field :state
              .Register_Field
                = l.label "Country"
                = l.text_field :nation
          = f.submit "Update"
