<%= content_for :title, 'Update Profile' %>
<div class="update_background">
  <div class="update_padding">
    <div class="update_width">
      <%= error_messages_for @user %>
      <div id="registration">
        <%= form_for(@user, :url => {:action => "update"}, :html => {:autocomplete => "off"}) do |f| %>
          <a id="title">Update Profile</a>
          <div class="register_field">
            <%= f.label "Username" %>
            <%= f.text_field :username %>
          </div>
          <div class="register_field">
            <%= f.label "Email" %>
            <%= f.text_field :email %>
          </div>
          <div class="register_field">
            <%= f.label "Password" %>
            <%= f.password_field :password %>
          </div>
          <div class="register_field">
            <%= f.label "Password Confirmation" %>
            <%= f.password_field :password_confirmation %>
          </div>
          <%= f.fields_for :house do |h| %>
            <div class="register_field">
              <%= h.label "House Name" %>
              <%= h.text_field :name %>
            </div>
            <%= h.fields_for :location do |l| %>
              <div class="register_field">
                <%= l.label "Address" %>
                <%= l.text_field :address %>
              </div>
              <div class="register_field">
                <%= l.label "Neighborhood" %>
                <%= l.select :neighborhood, [['South Side', 'South Side'], ['North Side', 'North Side'], ['Oakland', 'Oakland']] %>
              </div>
			<% end %>
          <%= f.submit "Update" %>
		<% end %>
      </div>
    </div>
  </div>
</div>
<% end %>