- content_for :scripts do
  :javascript
    $("#complete_name").tooltip();

.user_form.offset1
  /%h1 Configurações da conta
 
  - if flash[:notice] 
    %h2.notice{style: "margin: 10px; width: 700px;"}  
      = flash[:notice]
  - if @current_user.role == "admin" or @current_user.role == "coordenador"
    #role_specific.offset9
      %h2 Configurações de administrador
      %p.link
        = link_to "Registrar patrocinador, verificador e visitante", "/users/special_new"
      %p.link
        = link_to "Registrar novos prêmios ", "/premios/new"
  - elsif @current_user.role == "lojista"
    #role_specific.offset9
      %h2 Configurações de patrocinador
      %p.link
        = link_to "See Cupom", "/coupons"
        
  = form_for(@user, :url => {:action => "update", :html => {:autocomplete => "off", :multipart => true}}) do |f|
    = f.error_messages
    %h1 Configurações de usuário    
    
    /= f.label "Nome de usuário"
    / = f.label @current_user.username, {style: "font-weight: bold;"}
  

    .indent
      %h2#complete_name{:title => "O Nome Completo é utilizado para realizar o resgate do prêmio nos estabelecimentos patrocinadores. É importante informar o nome correto para evitar problemas no momento do resgate dos prêmios. Em caso de dúvida leia nossa Política de Privacidade e a página de Perguntas Frequentes. ", :style => "font-weight:bold;"} Nome completo (igual ao do RG ou CPF) <b style="color:blue;">?</b>    
      .indent
        /= f.label :first_name, "* Nome"
        = f.text_field :first_name, :placeholder => "* Nome"
        %br
        /= f.label :middle_name,  "* Nome do meio", 
        = f.text_field :middle_name, :placeholder => "Nome do meio (opcional)"
        %br
        = f.text_field :last_name, :placeholder => "* Sobrenome"
        %br
        / = f.label :nickname, "Apelido"
        = f.text_field :nickname, :placeholder => "Apelido (opcional)"
        %br

        / %input{:type => "radio", :value => 1, :name => 'user[gender]', :style => "font-size:14px;", :checked => @user.gender == true}
        / masculino
        / %input{:type => "radio", :value => 0, :name => "user[gender]", :style => "margin-left:20px;font-size:14px;", :checked => @user.gender == false}
        / feminino
        = f.radio_button :gender, "true"
        masculino
        = f.radio_button :gender, "false"
        feminino
        %br
        %br
        = f.label "Mostrar nome como"

        %select{:name => "display", id: "display_select"}
          %option{value: "firstmiddlelast", selected: @user.display == "firstmiddlelast", id: "firstmiddlelast" } #{@user.full_name}
          %option{value: "firstlast", selected: @user.display == "firstlast", id: "firstlast"} #{@user.first_name + " " + @user.last_name}
          %option{value: "first", selected: @user.display == "first", id: "first"} #{@user.first_name}
          %option{value: "nickname", selected: @user.display == "nickname", id: "nickname"} #{@user.nickname}
          %option{value: "firstlastnickname", selected: @user.display == "firstlastnickname", id: "firstlastnickname"} #{@user.first_name + " " + @user.last_name + " (" + @user.get_nickname + ")"}

      %br
      /= f.label :phone_number, "* Celular"
      = f.text_field :email, :placeholder => "* Email"
      %br
      = f.text_field :phone_number, :placeholder => "* Celular"
      %br
      /= f.label :phone_number,  "* Confirmar celular"
      = text_field_tag("phone_number_confirmation", nil, :placeholder => "Confirmar celular")
      %br
      /= f.label :email,  "* Email"
      
      = f.label :profile_photo,  "Foto do perfil (opcional)"
      = f.file_field :profile_photo
    
    /%h2 Esqueci minha senha
    /= link_to "Clique para recuperar senha", edit_password_reset_path(@current_user), :id => "reset_password_link"
      
    <br>
    - if @current_user.role == "lojista"
      %h1 Configurações da estabelecimento
    - else
      %h1 Configurações da casa

    .indent
      = f.fields_for :location do |location_form|
        /= location_form.label "* Endereço da casa"
        / # = location_form.text_field :address, value: @user.location.address, placeholder: "Endereço da casa", title: "No caso de rua de número, escreva o endereço por extenso. Ex: Rua Dois, Travessa Quatorze." if @user.location
        = location_form.text_field :street_type, value: @user.location.street_type, placeholder: "Rua, Beco etc.", class: "short_field"
        = location_form.text_field :street_name, value: @user.location.street_name, placeholder: "Nome", title: "No caso de rua de número, escreva o endereço por extenso. Ex: Rua Dois, Travessa Quatorze."
        = location_form.text_field :street_number, value: @user.location.street_number, placeholder: "Número", class: "middle_field"
        %h3#complete_name{:title => "Na fase atual, somente os moradores do Bairro Maré poderão participar."}Bairro <b style="color:blue;">?</b>
        = location_form.text_field:neighborhood, value: "Maré" if @user.location
    
      = f.fields_for :house do |house_form|
        - if @current_user.role == "lojista"
          = house_form.label "Nome do estabelecimento"
        - else
          = house_form.label "Nome da casa (máximo 16 caracteres)"
        = house_form.text_field :name, :placeholder => "ex. Maria Santos ou Maria e Paulo"
        - if @current_user.role == "lojista"
          = house_form.label "Telefone comercial"
          = house_form.text_field :phone_number
          = house_form.label "Logo digital (opcional)"
        - else
          = house_form.label "Foto da casa (opcional)"
        = house_form.file_field :profile_photo

    %br
    - if @current_user.is_fully_registered == false
      %h1 Alguém o convidou a se inscrever no DT?
      %select#recruitment
        %option NINGUÉM
        %option AVS/ACS
        %option MORADOR/ VIZINHO
    
    %br
    = f.hidden_field :confirm, :value => @confirm
    
    - if @confirm == 0
      %br
      = f.submit "Atualizar"
    - else
      %br
      = f.submit "Confirmar", {:style => "margin-bottom: 20px;"}
      %button{ :class => "cancel_button"}
        = link_to "Cancelar", edit_user_path(@user)