= content_for :title, 'Update Profile'

= form_for @user, :url => {:action => "update"} do |f|
  = f.error_messages

  %fieldset
    %ul
      %li
        = f.label :username
        = f.text_field :username
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      %li
        = f.file_field :profile_photo
        
    = f.submit "update"
= link_to 'Back', user_path(@current_user)
