- if flash[:notice] 
	%h2.notice.offset1{style: "width: 700px;"}  
		= flash[:notice]
.row.offset1
	%h2 Edit Users
	%ol.users_list.offset1
		%table
			- @users.each do |user|
				%tr
					%td= link_to user.full_name, edit_user_path(user)
					- if user.is_blocked == false
						%td= link_to 'Block', block_users_path(:id => user.id), method: :put, data: { confirm: "Você tem certeza?"}
					- else
						%td= link_to 'Unblock', block_users_path(:id => user.id), method: :put, data: { confirm: "Você tem certeza?"}
					%td= link_to 'Delete', user, method: :delete, data: { confirm: "Você tem certeza?"}

	%h2 Edit Prizes
	%ol.users_list.offset1
		%table
			- @prizes.each do |prize|
				%tr
					%td= link_to prize.prize_name, edit_prize_path(prize)
					%td= link_to 'Delete', prize, method: :delete, data: { confirm: "Você tem certeza?"}

