%h1 Register

= form_for(@user) do |f|
  = f.error_messages

  .field
    = f.label :username
    %br>/
    = f.text_field :username
  .field
    = f.label :password
    %br>/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br>/
    = f.password_field :password_confirmation
  .actions
    = f.submit "Submit"

= link_to 'Back', root_path
