.offset1
	%h1 Adminstrar DT Torpedos
	%br
	%table{cellpadding: 5, border: 1, style: "text-align:center;"}
		%colgroup
			%col
			%col{style: "width:12%;"}
			%col
			%col
			%col
			%col
			%col
		%tr
			%th Usuário
			%th Celular
			%th Operadora
			%th Pré/Pós
			%th Torpedos
			%th Data de envio
			%th Data do crédito
		- @users.each do |user|
			%tr
				%td{style: "text-align:left"}= link_to user.display_name, "torpedos/#{user.id}"
				%td= user.phone_number.sub(/^0/, "")
				%td= user.carrier
				- if user.prepaid == true
					%td Pré
				- else
					%td Pós
				%td= user.reports.count
				%td= Time.new.strftime("%d/%m/%Y %H:%M:%S")
				%td= ""
