<div class="main_column_personal">
	<div class="profile_main">
		<div class="profile_photo">
		  <%= image_tag @user.profile_photo.url(:small) %>
		</div>
		<div class="personal_profile_info">
			<div class="name">
				<%= @user.username %>
			</div>
			<div class="stats">
				<div class="subcolumn personal_points">
					<div class="category">
						points
					</div>
					<div class="value">
						<%= @user.points %>
					</div>
				</div>
				<div class="subcolumn household">
					<div class="category">
						household
					</div>
					<div class="value">
						<%= @house.name unless @house.nil? %>
					</div>
				</div>
				<div class="subcolumn neighborhood">
					<div class="category">
						neighborhood
					</div>
					<div class="value">
						<%= @neighborhood.name unless @neighborhood.nil? %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3>Recent Activity</h3>
  <!-- <div class="neighbors_container">
    <div class="neighbors_text">neighbors</div>
    <div class="neighbors_all">
      <% for neighbor in @user.neighbors %>
        <div class="neighbor_photo">
        </div>
	<% end %>
    </div>
  </div> -->
  <!-- <div class="clearfloat">
  </div> -->
  <div class="personal_reports_list">
	<% @reports.each do |report| %>
		<% if report.status == :reported %>
			<%= render :partial => "/reports/open_report", :object => report %>
		<% elsif report.status == :claimed %>
			<%= render :partial => "/reports/claimed_report", :object => report %>
		<% elsif report.status == :eliminated %>
			<%= render :partial => "/reports/resolved_report", :object => report %>
		<% end %>
	<% end %>
  </div>
</div>
<div class="second_column_personal">
	<!-- <div class="house_link"></div> -->
	<div class="map"></div>
	<div class="report_stats">
		<div class="stats" id="opened"><span class="value"><%= @stats_hash["opened"] %></span> <span class="category">Open</span></div>
		<div class="stats" id="claimed"><span class="value"><%= @stats_hash["claimed"] %></span> <span class="category">Claimed</span></div>
		<div class="stats" id="eliminated"><span class="value"><%= @stats_hash["eliminated"] %></span> <span class="category">Eliminations</span></div>
		<div class="stats" id="resolved"><span class="value"><%= @stats_hash["resolved"] %></span> <span class="category">Resolved</span></div>
	</div>
	<div class="recent_reports">
		<% @reports.each do |report| %>
			<% if report.status == :reported %>
				<%= render :partial => "/reports/open_report", :object => report %>
			<% elsif report.status == :claimed %>
				<%= render :partial => "/reports/claimed_report", :object => report %>
			<% elsif report.status == :eliminated %>
				<%= render :partial => "/reports/resolved_report", :object => report %>
			<% end %>
			<!-- <div class="report_item sb">
				<div class="left">
					<div class="heading">
						<span class="id">Report #<%= report.id %></span>
						<span class="location"><%= report.location.formatted_address %></span>
					</div>
					<div class="main">
						<div class="before_pic"><%= image_tag "fun.JPG" %></div>
						<div class="description">
							<span class="title"><%= report.report %></span>
							<span class="reporter"><%= report.reporter.username %></span>
							<% if report.claimer_id.present? %>
								<span class="resolver">Claimed: <%= report.claimer.username %></span>
							<% elsif report.eliminator_id.present? %>
								<span class="resolver">Eliminator: <%= report.eliminator.username %></span>
							<% else %>
								<span class="resolver">Eliminator: Pending</span>
							<% end %>
						</div>
					</div>
				</div>
				<div class="right">
					<div class="status">
					</div>
				</div>
			</div> -->
		<% end %>
	</div>
</div>


<!-- <div class="report_filters_personal">
   <div class="stars">
     <div class="number">20</div>
     <div class="text">Stars</div>
   </div>
   <div class="open">
     <div class="number"><%= @user.created_reports.count %></div>
     <div class="text">Open</div>
   </div>
   <div class="claimed">
     <div class="number"><%= @user.claimed_reports.count %></div>
     <div class="text">Claimed</div>
   </div>
   <div class="resolved">
     <div class="number">15</div>
     <div class="text">Resolved</div>
   </div>
   <div class="eliminations">
     <div class="number"><%= @user.eliminated_reports.count %></div>
     <div class="text">Eliminations</div>
   </div>
 </div> -->
