#content  
  #user_top_bar 

    #user_top_text
      .row
        .span3.offset4
          %h1.user_name 
            = @user.username            
        .span2.user_points
          .row
            %h2 Points
          .user_points_bg
            231
      .row
        .user_force_position.span2.offset4
          %h3.user_house
            - if @house
              = link_to @house.name, house_path(@house)
            - else 
              = link_to "Create My House", edit_user_path(@user)
        .span2
          %h3.user_neighborhood 
            =link_to @neighborhood.name, neighborhood_path(@neighborhood)
    .row
      #user_top_pictures
        .span11.offset1    
          .user_profile_picture
            - if @user.profile_photo_file_name.nil?
              = image_tag("default_images/profile_default_image.png")
            - else 
              = image_tag(@user.profile_photo.url(:large))
          .user_house_picture
            - if @house.profile_photo_file_name.nil?
              = link_to image_tag("default_images/house_default_image.png"), house_path(@house)
            - else 
              = link_to image_tag(@user.house.profile_photo.url(:medium)), house_path(@house)

          .user_neighborhood_picture
            =link_to image_tag("default_images/neighborhood_default_image.png"), neighborhood_path(@neighborhood)

  .row
    #user_recent_activity.span11.offset1
      .row
        .span10
          - if @isPrivatePage
            %a{:href=>'javascript:;', :data=>{:toggle=>"collapse", :target=>"#new_post"}}     
              %h3.expand_button Write a new post
            .collapse#new_post
              = render :partial => 'posts/new', locals: { wall: @user }
      .row
        %h3.span11
          #{@user.username}'s Recent Activity
      .row
        .span8          
          = link_to 'All', user_path(@user, :filter => 'all'), :class => @feed_active_all
          |
          = link_to 'Reports', user_path(@user, :filter => 'reports'), :class => @feed_active_reports
          |
          = link_to 'Blog', user_path(@user, :filter => 'posts'), :class => @feed_active_posts
      .row
        - if params[:filter] != 'posts'
          #user_reports
            - for report in @user.reports
              - if report.status == :reported
                = render :partial => "users/open_report", :object => report
              - if report.status == :claimed
                = render :partial => "users/claimed_report", :object => report
              - if report.status == :eliminated
                = render :partial => "users/resolved_report", :object => report
      .row
        - if params[:filter] != 'reports'
          - for p in @user_posts
            = render :partial => "users/show_post", :object => p
    #user_right_panel.span4
      Coupon Panel