#content  
  #user_top_bar 

    #user_top_text
      .row
        .span3.offset4
          %h1.user_name 
            = @user.username            
        .span2
          %h1.user_points 
            23941 
            %br points 
      .row
        .user_force_position.span2.offset4
          %h3.user_house 
            =link_to @house.name, house_path(@house)
        .span2
          %h3.user_neighborhood 
            =link_to @neighborhood.name, neighborhood_path(@neighborhood)
    .row
      #user_top_pictures
        .span11.offset1    
          .user_profile_picture
            -#= image_tag('icons/neighborhood.png')
            =link_to image_tag("darthvader.jpg"), '#'
          .user_house_picture
            -#= image_tag('icons/home.png')
            =link_to image_tag("tiefighter.jpg"), house_path(@house)
          .user_neighborhood_picture
            -#= image_tag('icons/user_32.png')
            =link_to image_tag("deathstar.jpg"), neighborhood_path(@neighborhood)

  .row
    #user_recent_activity.span11.offset1
      .row
        %h3.span11
          #{@user.username}'s Recent Activity
      .row
        .span8          
          =link_to 'All', user_path(@current_user, :filter => 'all'), :class => @feed_active_all
          |
          =link_to 'Reports', user_path(@current_user, :filter => 'reports'), :class => @feed_active_reports
          |
          =link_to 'Blog', user_path(@current_user, :filter => 'posts'), :class => @feed_active_posts
      .row
        .span10
          - if @isPrivatePage
            %a{:href=>'javascript:;', :data=>{:toggle=>"collapse", :target=>"#new_post"}}     
              %h3.expand_button Write a new post
            
            %div{id:"new_post", class:"collapse"}            
              = render :partial => 'posts/new'
      .row
        - if params[:filter] != 'posts'
          #user_reports
            - for report in @user.reports
              - if report.status == :reported
                = render :partial => "users/open_report", :object => report
              - if report.status == :claimed
                = render :partial => "users/claimed_report", :object => report
              - if report.status == :eliminated
                = render :partial => "users/resolved_report", :object => report
      .row
        - if params[:filter] != 'reports'
          - for p in @user_posts
            = render :partial => "users/show_post", :object => p
    #user_right_panel.span4
      Coupon Panel
                    
      

          
        