#content{style: "min-height:700px;"}
  #user_top_bar 
    #user_top_text
      .row
        .span9.offset4{ :style => "margin-top: -10px;"}
          %h1.user_name.span10{:title => @user.display_name}
            - if @user.role == "lojista"
              #{@user.shorter_display_name} (patrocinador)
            - elsif @user.role == "verificador"
              - if @user.gender == true
                #{@user.shorter_display_name} - verificador
              - else
                #{@user.shorter_display_name} (verificadora)
            -elsif @user.role == "coordenador"
              - if @user.gender == true
                #{@user.shorter_display_name} - coordenador
              - else
                #{@user.shorter_display_name} (coordenadora)
            - else
              = @user.shorter_display_name
        .span7.offset7{:style => "margin-top:-40px;"}
          .span2.user_points
            %h2 pontos         
          .span2.user_points{:style => "margin-top:22px;margin-left:-15px;"}
            .row 
              %h2 disponível
            .user_points_bg
              = @user.points
          .span2.user_points{:style => "margin-top:22px;"}
            .row
              %h2 total
            .user_points_bg
              = @user.total_points
          .row{style: "margin-top:126px;position:absolute;"}
            .span4{style: "margin-left:36px;"}
              - if @user.recruiter
                Recrutado por 
                = link_to @user.recruiter.first_name, user_path(@user.recruiter), class: "users"
                %br
              - if @user.recruitees.count > 0
                Recrutei 
                = link_to @user.recruitees.last.first_name, user_path(@user.recruitees.last), class: "users"
      / .row{:style => "margin-top:15px;"}
      /   .span4.offset8{:style => "position:absolute;font-size:14px;"}
      /     - if @user.recruiter
      /       Recrutado por 
      /       = link_to @user.recruiter.first_name, user_path(@user.recruiter)
      /       %br
      /     - if @user.recruitees.count > 0
      /       Recrutei 
      /       = link_to @user.recruitees.last.first_name, user_path(@user.recruitees.last)
      .row{:style => "margin-top:43px;"}
        .user_force_position.span2.offset4{:style => "margin-left:244px;"}
          %h3.user_house
            - if @house
              - if @user.role == "lojista" or @user.role == "verificador"
                = link_to @house.name, house_path(@house)
              - else
                = link_to "Casa " + @house.name, house_path(@house)
            - else 
              = link_to "Create My House", edit_user_path(@user)
        .span2{:style => "margin-left:25px;"}
          %h3.user_neighborhood 
            =link_to @neighborhood.name, neighborhood_path(@neighborhood)
    
    .row
      #user_top_pictures
        .span10.offset1    
          .user_profile_picture{:style => "float:left;margin-top:0px;"}
            - if @user.profile_photo_file_name.nil?
              = image_tag("default_images/profile_default_image.png")
            - else 
              = image_tag(@user.profile_photo.url(:large))
          .user_house_picture{:style => "float:left;margin-top:47px;margin-left:5px;"}
            - if @house.profile_photo_file_name.nil?
              = link_to image_tag("default_images/house_default_image.png"), house_path(@house)
            - else 
              = link_to image_tag(@user.house.profile_photo.url(:medium)), house_path(@house)

          .user_neighborhood_picture{:style => "float:left;margin-top:47px;margin-left:5px;"}
            =link_to image_tag("default_images/neighborhood_default_image.png"), neighborhood_path(@neighborhood)
            
        
    .row
      #user_recent_activity.span15.offset1
        .row{:style => "margin-top:10px;"}
          .span11
            - if @isPrivatePage
              = render :partial => 'posts/new', locals: { wall: @house }
        .row
          %h3.span15
            Atividade recente
        .row
          .span12          
            = link_to 'Todos', user_path(@user, :filter => 'all'), :class => @feed_active_all
            |
            = link_to 'Focos', user_path(@user, :filter => 'reports'), :class => @feed_active_reports
            |
            = link_to 'Blog', user_path(@user, :filter => 'posts'), :class => @feed_active_posts
        .row{ :style => "width: 1150px;"}

          #user_reports.span11
            - for item in @combined_sorted
              - if item.is_a? Post
                = render :partial => 'users/show_post', :object => item, :locals => {:full => true}
              - elsif item.status == :reported
                = render :partial => "reports/open.html.haml", :object => item
              - elsif item.status == :eliminated
                = render :partial => "reports/resolved.html.haml", :object => item

  .span4{ :style => "position:absolute; right:30px; top:160px;float:right;"}
    .row{:style => "text-align:center;"}
      %br
      = link_to "Prêmios", "/premios", :class => "header_link"
    .row
      .span3.offset1
      %ul#badges_list{:style => "width:265px;"}
        - if @user.points >= 100
          %li
            .badge_box
              .span2{:style => "margin-top:10px;margin-left:75px"}
                = image_tag("badges/de_olho.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                Carimbo digital 100 pontos
        
        - if @user.points >= 800
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px"}
                = image_tag("badges/exterminador.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                Adesivo pequeno + Carimbo digital 800 pontos
        - if @user.points >= 1600
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px"}
                = image_tag("badges/guerreiro.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                Adesivo grande + Carimbo digital 1600 pontos
        - if @user.points >= 3600
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px"}
                = image_tag("badges/saudavel.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                Adesivo + Camiseta + Carimbo digital 3600 pontos
        - if @user.points >= 7200
          %li
            .badge_box
              .span2{:style => "margin-top:20px;margin-left:75px;"}
                = image_tag("badges/cuido.png")
              .row.span4{:style => "font-size:14px;weight:bold;color:#4E6868;text-align:center;margin-top:8px;"}
                Honrarias + Camiseta + Adesivo + Carimbo digital 7200 pontos 
      %ul#coupons_list{style: "margin-left:10px;"}
        - @coupons.reverse.each do |coupon|
          = render :partial => "prize_codes/coupon", :object => coupon



