.user_form.offset1
  %h1 Registrar patrocinador, verificador e visitante
  = form_for(@user) do |f|
    = f.error_messages
    %select{:name => "role"}
      %option Patrocinador
      %option Verificador
      %option Visitante
    = f.label "Celular"
    = f.text_field :phone_number, :placeholder => "* Celular 5521xxxxxxxx"
    = f.label "E-mail"
    = f.text_field :email, :placeholder => "* E-mail"
    //= f.label "Nome de usuário"
    //= f.text_field :username, :placeholder => "* Nome de usuário"
    = f.label "Nome"
    = f.text_field :first_name, :placeholder => "* Nome"
    = f.label "Nome do meio"
    = f.text_field :middle_name, :placeholder => "* Nome do meio"
    = f.label "Sobrenome"
    = f.text_field :last_name, :placeholder => "* Sobrenome"
    = f.label "Nome alternativo (para apelidos)"
    = f.text_field :nickname, :placeholder => "* Nome alternativo"
    = f.label "Senha"
    = f.password_field :password, :placeholder => "* Senha"
    = f.label "Confirmar senha"
    = f.password_field :password_confirmation, :placeholder => "* Confirmar senha"
    %br
    = f.submit "Fazer inscrição"