%ul#neighborhood_list
  - @all_neighborhoods.each_with_index do |neighborhood, index|  
    %li
      .neighborhood_selection
        .neighborhood_selection_header
          %h3= link_to "No.#{index+1}: #{neighborhood.name}", root_path(:neighborhood => neighborhood), :remote => true
        .neighborhood_selection_photo
          = link_to image_tag("home_images/neighborhood#{index+1}.png"), root_path(:neighborhood => neighborhood), :remote => true
  - if @all_neighborhoods.count < 3
    - (3 - @all_neighborhoods.count).times do
      %li
        .neighborhood_selection
          .neighborhood_selection_header
            %h3 Future Participant
          .neighborhood_selection_photo
            = image_tag("neighborhood_default.png")
    