%ul#neighborhood_list
  .row
    %li
      .neighborhood_selection
        .neighborhood_selection_header
          %h3= link_to "No.1 Mare", root_path(:neighborhood => 1), :remote => true          
        = link_to image_tag("neighborhoods/Mare.jpg"), root_path(:neighborhood => 1), :class => 'neighborhood_selection_photo', :remote => true
    %li
      .neighborhood_selection
        .neighborhood_selection_header
          %h3= link_to "No.2 Alemao", root_path(:neighborhood => 1), :remote => true          
        = link_to image_tag("neighborhoods/Alemao.jpg"), root_path(:neighborhood => 1), :class => 'neighborhood_selection_photo', :remote => true
    %li
      .neighborhood_selection
        .neighborhood_selection_header
          %h3= link_to "No.3 Rocinha", root_path(:neighborhood => 1), :remote => true          
        = link_to image_tag("neighborhoods/Rocinha.jpg"), root_path(:neighborhood => 1), :class => 'neighborhood_selection_photo', :remote => true
