#register
  %h3 Register
  = form_for(@user) do |f|
    = f.error_messages
    = f.text_field :phone_number, :placeholder => "Phone Number"
    = f.text_field :email, :placeholder => "Email Address"
    = f.text_field :username, :placeholder => "Username"
    = f.password_field :password, :placeholder => "Password"
    = f.password_field :password_confirmation, :placeholder => "Confirm Password"
    %br
    = f.submit "Finish"