#register
  %h3 Inscreva-se 
  %ul
    = form_for(@user) do |f|
      %li= f.error_messages
      %li= f.label "* Celular"
      %li= f.text_field :phone_number, :placeholder => "021xxxxxxxx"
      %li= f.label "* Nome de usuário"
      %li= f.text_field :username, :placeholder => "min 5 carácters"
      %li= f.label "* Nome"
      %li= f.text_field :first_name
      %li= f.label "Nome do meio"
      %li= f.text_field :middle_name
      %li= f.label "* Sobrenome"
      %li= f.text_field :last_name
      %li= f.label "Nome alternativo (para apelidos)"
      %li= f.text_field :nickname
      %li= f.label "*E-mail"
      %li= f.text_field :email
      %li= f.label "* Senha"
      %li= f.password_field :password
      %li= f.label "* Confirmar senha"
      %li= f.password_field :password_confirmation
      %li= f.submit "Fazer inscrição!"