#register
  %h3 Inscreva-se 
  %ul
    = form_for(@user) do |f|
      %li= f.error_messages
      %li= f.text_field :phone_number, :placeholder => "* Celular 021xxxxxxxx"
      %li= f.text_field :username, :placeholder => "* Nome de usuário"
      %li= f.text_field :email, :placeholder => "* E-mail"
      %li= f.password_field :password, :placeholder => "* Senha"
      %li= f.password_field :password_confirmation, :placeholder => "* Confirmar senha"
      %li= f.submit "Fazer inscrição!"