/ .row
/ 	.span13.offset1{:style => "margin-top:30px;margin-bottom:30px;"}
/ 		= image_tag("/assets/Como_eliminar_os_focos-e1eb9f7cc83c549a9aba1d9664a99e97.png")

.row
	.span12.offset1
		%h1 SAIBA MAIS SOBRE A DENGUE
		%h2 Como eliminar os focos?

		%p Algumas simples ações fazem a diferença na luta contra o mosquito. Por isso, tente colocá-las na sua rotina. Não custa nada e ainda vai ajudar a salvar vidas.

		%p Somente se cada um fizer a sua parte poderemos vencer a batalha contra o Aedes aegypti.

		.edu_box
			.edu_image
				= image_tag "education/edu1.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu2.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu3.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu4.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu5.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu6.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu7.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu8.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu9.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu10.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu11.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu12.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu13.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu14.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.

		.edu_box
			.edu_image
				= image_tag "education/edu15.png"
			.edu_explanation
				1 – Coloque areia no prato dos vasos de plantas.
