#home_orange_promotion
  - flash.each do |key, msg|
    = content_tag :div, msg, :class => [key, :flash], :id => [key, :flash]
  #registration
    = render "users/new"
    
#neighborhoods
  = render "home/neighborhood_list"
#houses
  = render "home/house_list"

#sponsors
  %h3 Local Sponsors in #{@selected_neighborhood}
  %ul
    %li= image_tag("home_images/sponsor1.png")
    %li= image_tag("home_images/sponsor2.png")
    %li= image_tag("home_images/sponsor3.png")
    %li= image_tag("home_images/sponsor4.png")
    %li= image_tag("home_images/sponsor5.png")
