#home_orange_promotion
 #registration
  = form_for(@user) do |f|
   = f.error_messages
   %a#title Register
   %p
    = f.label :username
    = f.text_field :username
    %p
    = f.label :email
    = f.text_field :email
   %p
    = f.label :password
    = f.password_field :password
   %p
    = f.label :password_confirmation
    = f.password_field :password_confirmation
   = f.submit "Submit"
  // = link_to 'Back', root_path
#neighborhoods
 = render "neighborhood_list"
#houses
 = render "house_list"
#sponsors
 %h4 Sponsors
    