= render :partial => 'orange_slider'

#neighborhood_search
  .row
    #neighborhood_search_background.span12.offset2
      %input.span10{:type => 'text', :placeholder => "Busca por bairro, cidade, país"}
      %button Busca

.row
  %h2.offset1 Top Dengue Torpedo Neighborhoods
    
.row
  .span15.offset1
    = render "home/neighborhood_list"

.row 
  %h3.offset1#status_of_neighborhood Os pontos da #{@selected_neighborhood.name}

.row
  #neighborhood_stats
    .span2.offset1
      #rank_box
        %b No. #{@selected_neighborhood.id}
    .span3{style: 'margin-left: -10px;'}
      .row
      %b 1700
      %br total de focos marcardos
    .span2
      .row
        #neighborhood_open_report_button.span1 
        .span1
          %b 493
          %br em aberto
    .span2
      .row
        #neighborhood_claimed_report_button.span1 
        .span1
          %b 290
          %br apropriados
    .span2{style: 'margin-left: 30px;'}
      .row
        #neighborhood_resolved_report_button.span1 
        .span1
          %b 1003
          %br resolvidos
    .span5
      .row
        #visit_neighborhood_button.span3
          = render "home/visit_neighborhood_button"
.row
  %h3.offset1#home_houses Houses in #{@selected_neighborhood.name}
        
.row
  #houses.span15.offset1
    = render "home/house_list"
    
.row
  %h3.offset1 Patrocinadores na #{@selected_neighborhood.name}
  #sponsors.offset1    
    %ul
      %li
        = image_tag 'coupons/coupon2.png'
      %li
        = image_tag 'coupons/coupon3.png'
      %li
        = image_tag 'coupons/coupon5.png'
