= render :partial => 'orange_slider'
%br
#neighborhood_search
  .row
    #neighborhood_search_background.offset2
      %input.span10{:type => 'text', :placeholder => "Aguarde os futuros participantes!"}
      %button Busca

.row
  %h2.offset1 Comunidades em destaque no Dengue Torpedo
    
.row
  .span15.offset1
    = render "home/neighborhood_list"

.row
  %h2.offset1#home_houses{style: 'font-size: 18px;'}  Casas #{@selected_neighborhood.name}
  
.row
  #neighborhood_stats.offset1
    #home_visit_neighborhood_button.span5
      = render "home/visit_neighborhood_button"
    .span3
      %b= @total_reports_in_neighborhood
      %br Total de focos marcados
    .span3
      .row
        #neighborhood_open_report_button.span1 
        .span2
          %b= @opened_reports_in_neighborhood
          %br em aberto
    .span2
      .row
        #neighborhood_resolved_report_button.span1 
        .span1
          %b= @eliminated_reports_in_neighborhood
          %br eliminados
        
.row
  #houses.span15.offset1
    = render "home/house_list"          
    
%br    
.row
  %h2.offset1{style: 'font-size: 18px;'} Prêmios
  #sponsors.offset1    
    
    %ul
      - @prizes.shuffle.each do |prize|
        = render :partial => "prizes/prize", :object => prize

.row
  .offset1
    #neighborhood_news
      %h2 Notícias da comunidade
      %ul
        - @notices.each do |notice|
          %a{:href => notice_path(notice)}
            %li.span4.neighborhood_news_title
              .row
                .span5
                  - if notice.title.size > 35
                    = notice.title[0..35] + "..."
                  - else
                    = notice.title
%br          
.row
  %h2.offset1{style: 'font-size: 18px;'} Parceiros
  #partners.offset1{:style => "font-weight:normal;line-height:25px;"}
    CITRIS / IBM Research Brazil / Instituto Pereira Passos / Redes da Maré / Secretaria Municipal de Saúde do Rio de Janeiro / UBS Optimus Foundation / UC Berkeley / UFRJ

- if flash[:alert]
  %script
    alert("#{flash[:alert]}");
  

    

