%script(type="text/javascript" src="jquery-1.7.1.min.js")
%script(type="text/javascript" src="jquery.nivo.slider.pack.js")
<script type="text/javascript">$(window).load(function() { $('#slider').nivoSlider(); }); </script>
<link rel="stylesheet" href="default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="slider.css" type="text/css" media="screen" />
#home_orange_promotion
  - if @current_user.nil?
    
    %div#wrapper
      %div(class="slider-wrapper theme-default")
        %div.ribbon
          %div(id="slider" class="nivoSlider")
            %p= image_tag("rio_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"")
            %p= image_tag("sp_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"")
            %p= image_tag("giving_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"", :title=>"Get involved in the game around your neighborhood!")
            %p= image_tag("conference_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"", :data_transition=>"slideInLeft")
            %p= image_tag("kids_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"")
          %div(id="htmlcaption" class="nivo-html-caption")
            %strong Sao Paulo
        \.
          
    = render "users/new"


#neighborhood_search
  %h2 Leading Neighborhoods
  #neighborhood_search_background
    %input{:type => 'text', :placeholder => "Search by neighborhood, city, country"}
    %button Find
    
#neighborhoods
  = render "home/neighborhood_list"
#houses
  = render "home/house_list"

#sponsors
  %h3 Local Sponsors in #{@selected_neighborhood}
  %ul
    %li= image_tag("home_images/sponsor1.png")
    %li= image_tag("home_images/sponsor2.png")
    %li= image_tag("home_images/sponsor3.png")
    %li= image_tag("home_images/sponsor4.png")
    %li= image_tag("home_images/sponsor5.png")

