#home_orange_promotion
 #registration
  = form_for(@user) do |f|
   = f.error_messages
   %a#title Register
   %p
    = f.text_field :username, :placeholder => "Username"
   %p
    = f.text_field :email, :placeholder => "Email"
   %p
    = f.password_field :password, :placeholder => "Password"
   %p
    = f.password_field :password_confirmation, :placeholder => "Password Confirmation"
   = f.submit "Submit"

#neighborhoods
 = render "home/neighborhood_list"
#houses
 = render "home/house_list"
#sponsors
 %h4 Sponsors
    