#home_orange_promotion
  #wrapper
    .slider-wrapper.theme-default
      .ribbon
        #slider.nivoSlider
          = image_tag("orange_section_bg.jpg", :width=>"1040", :height=>"402",:alt=>"")
          = image_tag("rio12.jpg", :width=>"1040", :height=>"402", :alt=>"")
          = image_tag("sp_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"", :title=>"Get involved in the game around your neighborhood!")
          = image_tag("giving_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"", :data_transition=>"slideInLeft")
          = image_tag("conference_scaled.jpg", :width=>"1040", :height=>"402", :alt=>"")
        #htmlcaption.nivo-html-caption
          %strong Sao Paulo
        
        - if @current_user.nil?
          = render "users/new"

#neighborhood_search
  %h2 Leading Neighborhoods
  #neighborhood_search_background
    %input{:type => 'text', :placeholder => "Search by neighborhood, city, country"}
    %button Find
    
#neighborhoods
  = render "home/neighborhood_list"
#houses
  = render "home/house_list"

#sponsors
  %h3 Local Sponsors in #{@selected_neighborhood.name}
  %ul
    %li= image_tag("home_images/sponsor1.png")
    %li= image_tag("home_images/sponsor2.png")
    %li= image_tag("home_images/sponsor3.png")
    %li= image_tag("home_images/sponsor4.png")
    %li= image_tag("home_images/sponsor5.png")

