#orange_slider.row
  #top.row
    #top_left.span7.offset3
      %h1 Citizens Fight Dengue!
    #top_right.span3.offset3
      -# should be all reports totaled
      %h2 
        #{@total_reports_in_neighborhood} 
        %h3 
          total reports made
  .row    
    #video.span11
      %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "220", :width => "300", :src => "http://www.youtube.com/embed/VR3AM4BHSnw", :title => "Dengue Fever"}
      %span This video is borrowed from Youtube for dengue education. Video credit belongs to its perspective owner.      
    #register_pane.span4
      = render "home/register_form"
#neighborhood_search.row
  .row
    #neighborhood_search_background
      %input{:type => 'text', :placeholder => "Search by neighborhood, city, country"}
      %button Find
  %br
  .row
    .columnoff1
      %h2 Leading Neighborhoods
  
    
.row

  #temp
    -#= render "home/neighborhood_list"
.row
  #houses
    = render "home/house_list"

#neighborhood_status.row
  #neighborhood_button.row
    = link_to "Go to #{@selected_neighborhood.name}", neighborhood_path(@selected_neighborhood)
  #total_reports_in_neighborhood
    %h1 #{@total_reports_in_neighborhood}
    %h3 Total Reports Made in #{@selected_neighborhood.name}
  %ul
    %li
      .neighborhood_report_status#neighborhood_open_reports
      %h2 49 
      %h4 open
    %li 
      .neighborhood_report_status#neighborhood_claimed_reports
      %h2 234 
      %h4 claimed
    %li 
      .neighborhood_report_status#neighborhood_resolved_reports
      %h2 759 
      %h4 resolved

#sponsors
  %h3 Local Sponsors in #{@selected_neighborhood.name}
  %ul
    %li= image_tag("home_images/sponsor1.png")
    %li= image_tag("home_images/sponsor2.png")
    %li= image_tag("home_images/sponsor3.png")
    %li= image_tag("home_images/sponsor4.png")
    %li= image_tag("home_images/sponsor5.png")

