= render :partial => 'orange_slider'
%br
#neighborhood_search
  .row
    #neighborhood_search_background.span12.offset2
      %input.span10{:type => 'text', :placeholder => "Busca por bairro, comunidade, cidade, país"}
      %button Busca

.row
  %h2.offset1 Comunidades em destaque no Dengue Torpedo
    
.row
  .span15.offset1
    = render "home/neighborhood_list"

.row
  %h3.offset1#home_houses{style: 'font-size: 18px;'}  #{@selected_neighborhood.name} - Casas
        
.row
  #houses.span10.offset1
    = render "home/house_list"
  .span5
    #neighborhood_stats
      .row
        #home_visit_neighborhood_button.span5
          = render "home/visit_neighborhood_button"
      .row 
        .home_report_count.span4{style: 'margin: 15px 0px 0px 30px;'}
          .row
            %b= @total_reports_in_neighborhood
            %br total de focos marcardos
      %br
      %br

      .row
        .span2{style: 'width: 80px; margin-left: 35px;'}
          #neighborhood_open_report_button
          %br
          %b= @opened_reports_in_neighborhood
          %br em aberto
          
        .span2{style: 'width: 80px;'}
          #neighborhood_claimed_report_button
          %br
          %b= @claimed_reports_in_neighborhood
          %br assumidos
          
        .span2{style: 'width: 80px; margin-left: 15px;'}
          #neighborhood_resolved_report_button 
          %br
          %b= @eliminated_reports_in_neighborhood
          %br resolvidos
    
%br    
.row
  %h3.offset1{style: 'font-size: 18px;'} #{@selected_neighborhood.name} - Patrocinadores
  #sponsors.offset1    
    
    %ul
      %li
        =link_to image_tag('translated/coupon1.png'), prizes_path
      %li
        =link_to image_tag('translated/coupon2.png'), prizes_path
      %li
        =link_to image_tag('translated/coupon3.png'), prizes_path
      %li
        =link_to image_tag('translated/coupon4.png'), prizes_path

    

