= render :partial => 'orange_slider'
%br
#neighborhood_search
  .row
    #neighborhood_search_background.span12.offset2
      %input.span10{:type => 'text', :placeholder => "Busca por bairro, comunidade, cidade, país"}
      %button Busca

.row
  %h2.offset1 Comunidades em destaque no Dengue Torpedo
    
.row
  .span15.offset1
    = render "home/neighborhood_list"

.row
  %h3.offset1#home_houses{style: 'font-size: 18px;'}  #{@selected_neighborhood.name} Casas
        
.row
  #houses.span10.offset1
    = render "home/house_list"
  .span5
    #neighborhood_stats
      = render "home/neighborhood_stats"
          
    
%br    
.row
  %h3.offset1{style: 'font-size: 18px;'} Patrocinadores
  #sponsors.offset1    
    
    %ul
      %li
        =link_to image_tag('translated/groupcoupon1.png'), prizes_path
      %li
        =link_to image_tag('translated/groupcoupon2.png'), prizes_path
      %li
        =link_to image_tag('translated/groupcoupon3.png'), prizes_path
      %li
        =link_to image_tag('translated/rechargecoupon.png'), prizes_path

.row
  %h3.offset1{style: 'font-size: 18px;'} Parceiros
  #partners.offset1
    CITRIS / IBM Research Brazil / Instituto Pereira Passos / Redes da Maré / Secretaria Municipal de Saúde / UBS Optimus Foundation / UC Berkeley / UFRJ
  

    

