= render :partial => 'orange_slider'

#neighborhood_search
  .row
    #neighborhood_search_background.span12.offset2
      %input.span10{:type => 'text', :placeholder => "Search by neighborhood, city, country"}
      %button Find

.row
  %h2.offset1 Top Dengue Torpedo Neighborhoods
    
.row
  .span15.offset1
    = render "home/neighborhood_list"

.row 
  %h3.offset1#status_of_neighborhood Status of #{@selected_neighborhood.name}

.row
  #neighborhood_stats
    .span2.offset1
      #rank_box
        %b No. #{@selected_neighborhood.id}
    .span3
      %b 1700
      %br total reports made
    .span2
      .row
        #neighborhood_open_report_button.span1 
        .span1
          %b 493
          %br open
    .span2
      .row
        #neighborhood_claimed_report_button.span1 
        .span1
          %b 290
          %br claimed
    .span2
      .row
        #neighborhood_resolved_report_button.span1 
        .span1
          %b 1003
          %br eliminated
    .span5
      .row
        #visit_neighborhood_button.span3
          = render "home/visit_neighborhood_button"
.row
  %h3.offset1#home_houses Houses in #{@selected_neighborhood.name}
        
.row
  #houses.span15.offset1
    = render "home/house_list"
    
.row
  %h3.offset1 Local Sponsors in #{@selected_neighborhood.name}
  #sponsors.offset1    
    %ul

    
