%h4= @event.created_at
%h2= "#{@event.category}: #{@event.title}"
%figure.event_photo.image_placeholder
%p.event_description
  = @event.description
  %br
  %span.gray_text posted by
  = @event.creator.username
%p comments
%ul.event_comments
  - for comment in @event.comments
    %li.comment
      %figure.commenter_photo.image_placeholder
      .comment_text
        .commenter_name.bold_text= comment.user.username
        .comment_date= comment.created_at
        .clearfloat
        .comment_content= comment.content
      .clearfloat

- unless @current_user.nil?
  = form_for @comment do |f|
    = f.text_area :content, :class => "comment_content_field"
    = f.text_field :event_id, :style => "display: none;", :value => @comment.event_id
    = f.submit "Submit"
