.row{:style => "margin-bottom:20px;"}
	.span12.offset1
		.image_and_name
			- if @sponsor.house.profile_photo.file?
				= image_tag(@sponsor.house.profile_photo.url(:small), :width => 150, :height => 150, :class => "sponsor_logo")
			- else
				.logo_box
					= @sponsor.house.name
			%h1{:style => "margin-top:40px;"} #{@sponsor.full_name}
		%h2 Endereço: #{@sponsor.house.location.complete_address}
		%h2 Telefone: #{@sponsor.phone_number}

.row.offset1
	%h2 Mapa
	.map{:style => "width:200px; height:200px; border:1px solid #aaaaaa;"}

	%br
	%h2 Prêmios
	%ul.prizes_list{:style => "margin-bottom:20px;overflow:auto;"}
		- if @prizes
			- @prizes.each do |prize|
				- if prize.stock == 0
					= render :partial => "prizes/redeemed", :object => prize
				- else
					= render :partial => "prizes/prize", :object => prize