<h1>Listing buy_ins</h1>

<table>
  <tr>
    <th>Group buy in</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @buy_ins.each do |buy_in| %>
  <tr>
    <td><%= buy_in.group_buy_in_id %></td>
    <td><%= buy_in.user_id %></td>
    <td><%= link_to 'Show', buy_in %></td>
    <td><%= link_to 'Edit', edit_buy_in_path(buy_in) %></td>
    <td><%= link_to 'Destroy', buy_in, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Buy in', new_buy_in_path %>
