<%= form_for(@feedback) do |f| %> 
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <% if @feedback.errors.count == 1 %>
        <h2><%= pluralize(@feedback.errors.count, "erro") %> impediu que a mensagem fosse enviada:</h2>
      <% else %>
        <h2><%= pluralize(@feedback.errors.count, "erro") %> impediram que a mensagem fosse enviada:</h2>
      <% end %>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título" %>
    <% if @title == "other_type" %>
      <%= f.text_field :title, value: "Outro tipo" %>
    <% elsif @title == "other_method" %>
      <%= f.text_field :title, value: "Outro método" %>
    <% else %>
      <%= f.text_field :title %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <% if @current_user %>
      <%= f.text_field :email, :value => @current_user.email %>
    <% else %>
      <%= f.text_field :email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name, "Nome" %>
    <% if @current_user %>
      <%= f.text_field :name, :value => @current_user.display_name %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :message, "Mensagem" %>
    <% if @title == "other_type" %>
      <%= f.text_area :message, placeholder: "Conte para nós o seu tipo de foco. (Max 3500 caracteres)", maxlength: 3500 %>
    <% elsif @title == "other_method" %>
      <%= f.text_area :message, placeholder: "Conte para nós o seu método de eliminação. (Max 3500 caracteres)", maxlength: 3500 %>
    <% else %>
      <%= f.text_area :message, placeholder: "Max 3500 caracteres", maxlength: 3500 %>
    <% end %>
    
  </div>
  <div class="actions">
    <%= f.submit "Enviar mensagem" %>
  </div>
<% end %>
