<%= form_for(@feedback) do |f| %>
  <% if @feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Título" %>
    <% if @title == "other_type" %>
      <%= f.text_field :title, value: "Outro tipo" %>
    <% elsif @title == "other_method" %>
      <%= f.text_field :title, value: "Outro método" %>
    <% else %>
      <%= f.text_field :title %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <% if @current_user %>
      <%= f.text_field :email, :value => @current_user.email %>
    <% else %>
      <%= f.text_field :email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :name, "Nome" %>
    <% if @current_user %>
      <%= f.text_field :name, :value => @current_user.display_name %>
    <% else %>
      <%= f.text_field :name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :message, "Mensagem" %>
    <%= f.text_area :message, placeholder: "Max 3500 caracteres", maxlength: 3500 %>
  </div>
  <div class="actions">
    <%= f.submit "Criar mensagem" %>
  </div>
<% end %>
