%h3 Compartilhe suas ideias com a turma do Dengue Torpedo!
.row
  .span8
    = form_for [wall, @post] do |f|
      .row
        .span8
          = f.error_messages
      .row
        .span8
          = f.text_field :title, :placeholder => "Escolha um titulo", :class => "house_post_title"
      .row
        .span8
          = f.text_area :content, :placeholder => "Qual é a sua ideia? (max 350 caracteres)", :class => "house_post_text_field", :maxlength => 350
      .row
        .row
          .span2.offset8{:style => "margin-left:539px;"}
            = f.submit "Publicar"

