%h3 Compartilhe suas ideias com a turma do Dengue Torpedo!
.row
  .span8
    = form_for [wall, @post] do |f|
      .row
        .span8
          = f.error_messages
      .row
        .span8
          = f.text_field :title, :placeholder => "Escolha um titulo", :class => 'span8'
      .row
        .span8
          = f.text_area :content, :placeholder => "Qual é a sua ideia?", :class => 'span8'
      .row
        .row
          .span2.offset6
            = f.submit "Publicar", :id => 'post_submit'
        .row
          .span8
            %hr#post_spacer  
