
.post_form
  %h3 Write Something...
  = form_for(@post) do |f|
    .row
      .span9
        = f.error_messages
    .row
      .span9
        = f.text_field :title, :placeholder => "Give a Title", :id => 'post_title'
    .row
      .span9
        = f.text_area :content, :placeholder => "What is this about?", :id => 'post_content'
    .row
      .span9
        = f.submit "Post", :id => 'post_submit'