.row
  .span8.offset1
    %h1 Comunidade da #{@neighborhood.name}
.row
  #neighborhood_stats.offset1
    .span3
      %b= @total_reports_in_neighborhood
      %br Total de focos marcados
    .span3
      .row
        #neighborhood_open_report_button.span1 
        .span2
          %b= @opened_reports_in_neighborhood
          %br em aberto
    .span2{:style => "margin-left:-35px;"}
      .row
        #neighborhood_resolved_report_button.span1 
        .span1
          %b= @eliminated_reports_in_neighborhood
          %br eliminados
    /.span2
    /  .house_count
    /    %b= @number_of_houses
    /    %br casas
    /.span1
    /  .participant_count
    /    %b= @number_of_participants
    /    %br participantes
%br
%br
.row
  #neighborhood_view{:style => "font-weight:bold;"}
    .span2.offset1
      = link_to 'Casas (' + @number_of_houses.to_s + ')', neighborhood_path(params[:id]), :class => @houses_view_active
    .span3
      = link_to 'Participantes (' + @number_of_participants.to_s + ')', neighborhood_path(params[:id], :view => 'participants'), :class => @participants_view_active
%br
.row
  - if params[:view] == 'participants'
    .span11.offset1
      %ul#neighborhood_participants_list
        - @participants.each do |participant|
          %li.neighborhood_participant_photo_thumb.span3
            - if participant.profile_photo_file_name.nil?
              = link_to image_tag("default_images/profile_default_image.png"), user_path(participant)
            - else
              = link_to image_tag(participant.profile_photo.url(:large)), user_path(participant)
            
            = link_to participant.full_name, user_path(participant)
        - if @participants.count < 9
          - (12 - @participants.count).times do          
            %li.neighborhood_participant_photo_thumb.span3
              = image_tag("default_images/profile_default_image.png")
              Futuro participante
  - else 
    .span11.offset1
      %ul#neighborhood_house_list
        - @houses.each do |house|
          %li.neighborhood_house_photo_thumb.span3
            - if house.profile_photo_file_name.nil?
              = link_to image_tag("default_images/house_default_image.png"), house_path(house)
            - else 
              = link_to image_tag(house.profile_photo.url(:large)), house_path(house)
            = link_to house.name, house_path(house)
        - if @houses.count < 7
          - (9 - @houses.count).times do          
            %li.neighborhood_house_photo_thumb.span3
              = image_tag("default_images/house_default_image.png")
              Futura casa

  #neighborhood_right_panel.span5{:style => "margin-top:-135px;"}
    %h2 Destaques da comunidade
    .row
      #neighborhood_coordinator.span5
        %h3 Coordenadores comunitários
        - @coordinators.each do |coordinator|
          - if @coordinators.posts.count > 0
            .neighborhood_profile_box
              .span1.neighborhood_pf_picture
                = image_tag(coordinator.profile_photo.url(:small))                     
              .span3.neighborhood_quote
                .neighborhood_person_name
                  = coordinator.display_name
                / “Mutirão na praça da escola sábado dia 21 de manhã, vamos participar, gente!”
            
              
    .row
      #neighborhood_health_agent.span5
        %h3 Verificadores
        - @verifiers.each do |verifier|
          .neighborhood_profile_box
            .span1.neighborhood_pf_picture
              = image_tag(verifier.profile_photo.url(:small))
            .span3.neighborhood_quote
              .neighborhood_person_name
                = verifier.display_name            
              / “O Dengue Torpedo me inspirou!” 
    .row
      #neighborhood_sponsors.span4
        %h3 Patrocinadores
        
        .neighborhood_sponsor_box
          %ul
            - @random_sponsors.each do |sponsor|
              %li.span1.sponsor_thumb
                = image_tag sponsor
 
        
.row
  .offset1
    #neighborhood_news
      %h2 Notícias da comunidade
      %ul
        %li.span4
          .row
            .span4
              .neighborhood_news_title
                Oficina: criando logos digitais
          %br
          .row
            .span1.neighborhood_news_thumb
              = image_tag 'rails.png'            
            .span3.neighborhood_news_content{style: 'width: 170px;'}
              Faremos no fim de semana do dia 28 uma oficina na Redes da Maré onde você poderá aprender a criar logotipos no computador usando programas gráficos, como o Photoshop. Inscreva-se!
          
        %li.span4
          .row
            .span4
              .neighborhood_news_title
                Exposição de Fotografias
          %br
          .row
            .span1.neighborhood_news_thumb
              = image_tag 'camera.png'            
            .span3.neighborhood_news_content
              As imagens feitas pelos participantes da oficina de fotografia realizada no mês passado estão em exposição na Redes da Maré. Confira!
          
        %li.span4
          .row
            .span4
              .neighborhood_news_title
                Palestra sobre Dengue e Saúde
          %br
          .row
            .span1.neighborhood_news_thumb
              = image_tag 'dengue.jpg'            
            .span3.neighborhood_news_content
              Na próxima semana, o professor Carlos Chagas vem à nossa comunidade para nos explicar mais e tirar dúvidas sobre dengue, tratamento e prevenção.
                   
      
      
    
    