.row
  .span8.offset1
    %h1 Neighborhood of #{@neighborhood.name}
.row
  #neighborhood_stats
    .span2.offset1
      #rank_box
        %b No. 1
    .span3
      %b 1700
      %br total reports made
    .span2
      .row
        #neighborhood_open_report_button.span1 
        .span1
          %b 493
          %br open
    .span2
      .row
        #neighborhood_claimed_report_button.span1 
        .span1
          %b 290
          %br claimed
    .span2
      .row
        #neighborhood_resolved_report_button.span1 
        .span1
          %b 1003
          %br eliminated
    .span2
      .house_count
        %b 14
        %br houses
    .span2
      .participant_count
        %b 53
        %br participants
.row
  #neighborhood_view
    .span2.offset1
      = link_to 'Houses', neighborhood_path(@current_user.neighborhood), :class => @houses_view_active
    .span2
      = link_to 'Participants', neighborhood_path(@current_user.neighborhood, :view => 'participants'), :class => @participants_view_active
%br
.row
  - if params[:view] == 'participants'
    .span11.offset1
      %ul#neighborhood_participants_list
        - @participants.each do |participant|
          %li.neighborhood_participant_photo_thumb.span3
            - if participant.profile_photo_file_name.nil?
              = link_to image_tag("default_images/profile_default_image.png"), user_path(participant)
            - else
              = link_to image_tag(participant.profile_photo.url(:large)), user_path(participant)
            = link_to participant.username, user_path(participant)
        - if @participants.count < 9
          - (12 - @participants.count).times do          
            %li.neighborhood_participant_photo_thumb.span3
              = image_tag("default_images/profile_default_image.png")
              Future Participant
  - else 
    .span11.offset1
      %ul#neighborhood_house_list
        - @houses.each do |house|
          %li.neighborhood_house_photo_thumb.span3
            - if house.profile_photo_file_name.nil?
              = link_to image_tag("default_images/house_default_image.png"), house_path(house)
            - else 
              = link_to image_tag(house.profile_photo.url(:medium)), house_path(house)
            = link_to house.name, house_path(house)
        - if @houses.count < 7
          - (9 - @houses.count).times do          
            %li.neighborhood_house_photo_thumb.span3
              = image_tag("default_images/house_default_image.png")
              Future House

  #neighborhood_right_panel.span4
    .row
      #neighborhood_coordinator.span4
        %h4 Community Coordinator
        .neighborhood_profile_box
    .row
      #neighborhood_health_agent.span4
        %h4 Featured Health Agent
        .neighborhood_profile_box
    .row
      #neighborhood_sponsors.span4
        %h4 Local Sponsors
        .neighborhood_sponsor_box
.row
  .offset1
    #neighborhood_news
      %h4 Community News
      %ul
        %li.span4
          Design Your Logo
        %li.span4
          Photography Exhibit
        %li.span4
          Dengue and Public Health
      
      
    
    