<%= form_for(@prize) do |f| %>
  <% if @prize.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prize.errors.count, "error") %> prohibited this prize from being saved:</h2>

      <ul>
      <% @prize.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prize_name %><br />
    <%= f.text_field :prize_name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :stock %><br />
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :redemption_directions %><br />
    <%= f.text_area :redemption_directions %>
  </div>
  <div class="field">
    <%= f.label :expire_on %><br />
    <%= f.datetime_select :expire_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
