%li.span3.prizes.possible
	.status.possible
		.name{style: "height:20px;"}
			= link_to prize.sponsor_name, "/sponsors/#{prize.user.id}"
		.points
			#{prize.cost} pontos
	.prize_content
		- if prize.prize_photo_file_name.nil?
			= link_to image_tag("default_images/prize_default_image.jpg", :class => "prizes"), prize_path(prize)
		- else
			= link_to image_tag(prize.prize_photo.url(:large), :class => "prizes"), prize_path(prize)
		.description
			= link_to truncate(prize.prize_name, length: 40), prize_path(prize)		
		.stock
			Estoque: #{prize.stock}
		.redeem_by
			- if prize.expire_on
				Prazo: #{prize.expire_on.strftime("%d/%m/%Y")}
