%li.span3.prizes.redeemed
	.status.redeemed
		.name
			#{redeemed.user.house.name}
		.points
			#{redeemed.cost} pontos
	.prize_content
		- if redeemed.prize_photo_file_name.nil?
			= image_tag("default_images/prize_default_image.jpg", :class => "prizes, expired")
		- else
			= image_tag(redeemed.prize_photo.url(:large), :class => "prizes grey")
		.description
			#{redeemed.description}
		.stock
			Estoque: #{redeemed.stock}
