
- unless @user.nil?
  .row
    .span6.offset1#user_info
      .row
        %div#user_info2
          .span2
            #user_profile_picture
              - if @user.profile_photo_file_name.nil?
                = image_tag("default_images/profile_default_image.png")
              - else
                = image_tag(@user.profile_photo.url(:large))
          .span
            #user_welcome
              %span
                Bem-vinda,
                %strong
                  = @user.username
              %span
                %strong Meus Pontos:
              #user_point_box
                %span
                  = @user.points
    .span6.offset2
      #user_prizes
        %h3
          Your trophy box:
        - @user.prize_codes.sort.reverse.last(5).each do |prize_code|
          - unless prize_code.nil?
            = link_to image_tag(prize_code.prize.prize_photo.url(:small), {:size => "60x60", :class => "trophy_photo"}), prize_path(prize_code.prize.id)

.row
  .span15.offset1
    #prize_search
      %h1 Premios para a comunidade
.row
  .span15.offset1
    %div.prizes_section
      %div.widther
        - Prize.order("cost").where(:community_prize => true).limit(3).each do |prize|
          .span4.community_prize_section
            %div.sec
              = link_to image_tag(prize.prize_photo.url(:large), {:size => "150x150", :class => "prize_photo"}), prize_path(prize.id), :class => "top_up", :toptions => "type = iframe, shaded = 1, overlayClose = 1, effect = fade, width = 1000, height = 630, resizable = 0, x = 50, y = 100, title =" + prize.prize_name
              %h4
                = link_to prize.prize_name, prize_path(prize.id), :class => "top_up", :toptions => "type = iframe, shaded = 1, overlayClose = 1, effect = fade, width = 1000, height = 630, resizable = 0, x = 50, y = 100, title =" + prize.prize_name
              %div.cost
                %p
                  = link_to prize.cost, prize_path(prize.id), :class => "top_up", :toptions => "type = iframe, shaded = 1, overlayClose = 1, effect = fade, width = 1000, height = 630, resizable = 0, x = 50, y = 100, title =" + prize.prize_name


.row
  .span15.offset1
    #prize_search
      %h1 Medalhas
.row
  .span15.offset1
    %div.widther_2
      - Prize.order("cost").where(:is_badge => true).limit(5).each do |prize|
        .span2.badges_section
          %div.sec
            = link_to image_tag(prize.prize_photo.url(:small), {:size => "60x60", :class => "prize_photo"}), prize_path(prize.id), :class => "top_up", :toptions => "type = iframe, shaded = 1, overlayClose = 1, effect = fade, width = 1000, height = 630, resizable = 0, x = 50, y = 100, title =" + prize.prize_name
            %h4
              = link_to prize.prize_name, prize_path(prize.id), :class => "top_up", :toptions => "type = iframe, shaded = 1, overlayClose = 1, effect = fade, width = 1000, height = 630, resizable = 0, x = 50, y = 100, title =" + prize.prize_name
            %div.cost
              %p
                = link_to prize.cost, prize_path(prize.id), :class => "top_up", :toptions => "type = iframe, shaded = 1, overlayClose = 1, effect = fade, width = 1000, height = 630, resizable = 0, x = 50, y = 100, title =" + prize.prize_name
