- unless @user.nil?
  .row
    .span6.offset2
      #user_info
        #user_profile_picture
          - if @user.profile_photo_file_name.nil?
            = image_tag("default_images/profile_default_image.png")
          - else
            = image_tag(@user.profile_photo.url(:large))
        #user_welcome
          %span
            Bem-vinda,
            %strong
              = @user.username
          %span
            %strong Meus Pontos:
          #user_point_box
            %span
              = @user.points
    .span6.offset1
      #user_prizes
        %h3
          Your trophy box:
        - @user.prize_codes.each do |prize_code|
          prize = prize_code.prize
          = image_tag(prize.prize_photo.url(:small), {:size => "60x60", :class => "trophy_photo"})

.row
  .span15.offset1
    #prize_search
      %h1 Premios para a comunidade
      %input{:type => 'text', :placeholder => "Busca....", :class => "prize_search", :id => "community_prize"}

.row
  .span15.offset1
    #prize_search
      %h1 Premios para voce
      %input{:type => 'text', :placeholder => "Busca....", :class => "prize_search", :id => "self_prize"}