<p id="notice"><%= notice %></p>

<p>
  <b>Prize name:</b>
  <%= @prize.prize_name %>
</p>

<p>
  <b>Cost:</b>
  <%= @prize.cost %>
</p>

<p>
  <b>Stock:</b>
  <%= @prize.stock %>
</p>

<p>
  <b>User:</b>
  <%= @prize.user_id %>
</p>

<p>
  <b>Description:</b>
  <%= @prize.description %>
</p>

<p>
  <b>Redemption directions:</b>
  <%= @prize.redemption_directions %>
</p>

<p>
  <b>Expire on:</b>
  <%= @prize.expire_on %>
</p>


<%= link_to 'Edit', edit_prize_path(@prize) %> |
<%= link_to 'Back', prizes_path %>
