- unless @prize.nil?
  .row
    .span15.offset1
      - if flash[:notice] 
        .row#flash_dat_notice
          #flashNotice 
            %p
              = flash[:notice]

      - if flash[:alert] 
        .row#flash_dat_alert
          #flashAlert 
            %p
              = flash[:alert]
      .row#prize_name_and_photo
        .row#prize_info
          .span6
            %div
              - if @prize.prize_photo_file_name.nil?
                = image_tag("default_images/prize_default_image.jpg", :width => 150, :height => 150)
              - else
                = image_tag(@prize.prize_photo.url(:large))
          .span9
            #prize_cost
              .row#prize_cost{:style => "padding:10px;"}
                %h2
                  = @prize.prize_name
                %br
                %h5
                  #{@prize.cost} pontos
                %br
                
                - if @prize.is_badge
                  %p{ :style => "font-size:18px;margin-top:30px;"}
                    Medalha digital premiada automaticamente. 
                  %p{:style => "font-size:18px;"}
                    Você não precisa utilizar seus pontos!
                - else
                  %p{ :style => "font-size:15px;"}
                  = @prize.description
              .row
                - if @prize.is_badge == false
                  - if @prize.stock != 0
                    %p
                      Estoque: #{@prize.stock}
                  - if @prize.expire_on
                    %p
                      Prazo: #{@prize.expire_on.to_date }
      - if @prize.is_badge == false
        .row#prize_instructions_and_cost
          .row#bootstrap_sucks
            .span6
              %div#prize_cost
                #current_user
                  %h5{:style => "color:#333333;font-size:60px; text-align:center;"}
                    = number_with_delimiter(@user.points, :delimiter => ".")
                #cant_use_points_sucka
                  %h6
                    Seus pontos
            .span6.offset3{:style => "float:right;margin-right:5px;"}
              %div#prize_cost
                / .center
                / You have #{@prize.user.points} pontos!
                - unless @current_user.nil?
                  - if @enoughPoints
                    #use_points
                      = link_to "Usar os meus pontos agora!", prize_path, :method => :post
                  - if !@enoughPoints
                    #cant_use_points_sucka
                      %h6
                        Usar os meus pontos agora!
                  /   #cant_use_points_sucka
                  /     %h6
                  /       Você precisa de mais pontos para redimir

                - if @current_user.nil?
                  #cant_use_points_sucka
                    %h6
                      Você deve entrar para redimir
        %div#prize_instructions.row{:style => "background-color:white;padding: 10px;margin-top: 50px;"}
          %h3
            Para retirar o prêmio:
          %br

          %p
            Compareça ao estabelecimento de porte do cupom impresso e de um documento válido com foto (ex. RG).
          %p
            = @prize.redemption_directions
      .row
        #prize_
      .row#sponsor_area_title_thing
        .row#seriously_bootstrap
          .span15
            %div
              %h3
                Patrocinador
      .row#sponsor_spot
        .row#more_bootstrap_sucks
          .span3
            %div#sponsor_image 
              = link_to image_tag(@prize.user.profile_photo.url(:small), :width => 100)
          .span7
            %div#sponsor_info
              %h4
                #{@prize.user.full_name}
              %p
                = @prize.user.house.location.address
                
          .span5
            %div#sponsor_map
              mapa
  .row