.rp_report.rp_claimed_report
  .row
    .span6
      %h4== Report #{claimed.id}: #{claimed.complete_address}
    .span2.rp_report_time
      = claimed.strftime_updated_at
      
  .row
    .span2.rp_before_photo
      =image_tag 'http://placehold.it/100x100'
    .span5
      .row
        .rp_report_content.span5
          "
          = claimed.report            
          "
      .row.rp_report_people
        Reporter:
        %a.user==#{claimed.reporter.username unless claimed.reporter.nil?}
        %br
        Claimed by:
        %a.user==#{claimed.claimer.username unless claimed.reporter.nil?}
      
      - if claimed.claimer_id == @current_user.id
        .row
          .span5
            %a{:href=>'javascript:;', :data=>{:toggle=>"collapse", :target=>"#resolve_prompt"+(claimed.id).to_s}}       
              .expand_button Eliminate this report!
          
            %div{id:"resolve_prompt"+(claimed.id).to_s, class:"collapse confirm_prompt"}
              = form_for(:eliminate, :url => {:action => "update", :html => {:autocomplete => "off", :multipart => true}}, :method=>:put) do |f|
                = hidden_field_tag 'report_id', claimed.id
                Upload image of eliminated target:
                = f.file_field :after_photo
                .row
                  .span2
                    = submit_tag "Eliminate!"
                  .span2
                    #report_buttons.eliminate_cancel        
                      %a{:href=>'javascript:;', :data=>{:toggle=>"collapse", :target=>"#resolve_prompt"+(claimed.id).to_s}, :class=>'confirm_button'}               
                        Cancel
    .span1.rp_report_status.status
      Claimed
  .row
    .rp_report_options
      =link_to (image_tag 'icons/reports icon/emptystar.png', :id=>'user_report_favorite'), '#'
      =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), '#'

  
  
