.report.claimed_report
  %h4== Report #{claimed_report.id}: #{claimed_report.complete_address}
  .before_photo
  .status
    Claimed
  .time_stamp
    = claimed_report.strftime_updated_at
  .report_content
    %p
      "
      = claimed_report.report
      %a "

    %a Reporter:
    %a.user==#{claimed_report.reporter.username unless claimed_report.reporter.nil?}
    %br
    %a Claimed:
    %a.user==#{claimed_report.claimer.username unless claimed_report.reporter.nil?}
