.rp_report.rp_claimed_report
  .row
    .rp_report_status.status
      Assumido
      .rp_report_options
        - if @current_user != nil && claimed.reporter.id == @current_user.id
          =link_to (image_tag 'icons/reports icon/delete1.png', :id=>'user_report_delete'), claimed, :confirm => "Are you sure?", :method => :delete
  .row
    .span8
      %h4== #{claimed.complete_address}
  .row
    .span2.rp_before_photo
      =image_tag claimed.before_photo(:medium)
    .span5
      .row
        .rp_report_content.span5
          = claimed.report  

      .row.rp_report_people
        Marcado por:
        =link_to claimed.reporter.username + " - " + claimed.strftime_with(:created_at), user_path(claimed.reporter), :class => "user"
        %br
        Assumido por:
        =link_to claimed.claimer.username + " - " + claimed.strftime_with(:claimed_at), user_path(claimed.claimer), :class => "user"      
      
      - if @current_user != nil && claimed.claimer_id == @current_user.id
        .row
          .span5
            %a{:href=>'javascript:;', :data=>{:toggle=>"collapse", :target=>"#resolve_prompt"+(claimed.id).to_s}}       
              .confirm_button Carregue um foto de foco eliminado
          
            .collapse{id:"resolve_prompt"+(claimed.id).to_s}
              .eliminate_prompt
                = form_for(:eliminate, :url => {:action => "update", :html => {:autocomplete => "off", :multipart => true}}, :method=>:put) do |f|
                  = hidden_field_tag 'report_id', claimed.id
                  = f.file_field :after_photo
                  .row
                    .span2
                      = submit_tag "Eliminar!", :class=>'confirm_button'
                    .span2
                      .eliminate_cancel        
                        %a{:href=>'javascript:;', :data=>{:toggle=>"collapse", :target=>"#resolve_prompt"+(claimed.id).to_s}, :class=>'confirm_button'}               
                          Cancelar
  .row{ :style => "height: 30px;"}

  
  
