#reports_open
  = form_for(@report, :url => {:action => "create", :html => {:autocomplete => "off", :multipart => true}}) do |f|
    .row
      .span7
        %h3 Enter a short description of your report:
        = f.text_area :report, :placeholder => 'Report Description', :id => 'report_content'
        %h3 Enter the address of your report location:
        = text_field_tag :location, nil, :placeholder => 'Report Location', :id => 'report_address'
        %h3 Upload your report image:
        = f.file_field :before_photo
      
    = submit_tag "submit"
    

  