
#reports_open
  = form_tag( :url=>{:action => "create"}, :html=>{:multipart => true} ) do
    .row
      
      .span7
        %h3 Enter a short description of your report:
        = text_area_tag :report, nil, :placeholder=>'Report Description', :id=>'report_content'
        %h3 Enter the address of your report location:
        = text_field_tag :loc, nil, :placeholder=>'Report Location'
        %h3 Upload your report image:
        = file_field_tag :before_photo
      
    = submit_tag "submit"
    

  