.report.resolved_report
  %h4== Report #{resolved_report.id}: #{resolved_report.complete_address}
  .before_photo
  .after_photo
  .status
    Resolved
  .time_stamp
    = resolved_report.strftime_updated_at
  .report_content
    %p
      "
      = resolved_report.report
      %a "
    %a Reporter: 
    %a.user==#{resolved_report.reporter.username unless resolved_report.reporter.nil?}
    %br
    %a Eliminator: 
    %a.user==#{resolved_report.eliminator.username unless resolved_report.eliminator.nil?}
		
