.rp_report.rp_resolved_report
  .row
    .rp_report_status.status
      Eliminado
      .rp_report_options{:style => "margin-top:-3px;"}
        - if resolved.is_resolved_verified == "t"
          = image_tag 'icons/reports icon/check.png', :width => 25, :height => 25, :style => "float:right;"
        - elsif resolved.is_resolved_verified == "f"
          = image_tag 'icons/reports icon/x.png', :width => 25, :height => 25, :style => "float:right;"
        - else
          - if @current_user.role == "verificador" or @current_user.role == "admin"
            = link_to (image_tag 'icons/reports icon/x.png', :width => 25, :height => 25), problem_reports_path(:id => resolved.id), method: :post, :style => "float:right;"
            = link_to (image_tag 'icons/reports icon/check.png', :width => 25, :height => 25), verify_reports_path(:id => resolved.id), method: :post, :style => "float:right;"     
  .row
    .span8{:style => "margin-top:10px;"}
      %h4== #{resolved.complete_address}
      
  .row
    .span2.rp_before_photo
      =image_tag resolved.before_photo(:medium), :style => "margin-bottom:10px;"

      =image_tag resolved.after_photo(:medium)
      
    .span6
      .row.rp_report_people.span6
        %h3{style: "font-weight:bold;"}Descrição da localização:
        = resolved.report
        %h3{:style => "font-weight:bold;"} Tipo de foco:
        = resolved.elimination_type
        %h3{:style => "font-weight:bold;"} Método de eliminação:
        = resolved.elimination_method
        %br
        %br
        - if resolved.reporter_id
          Marcado por:
          =link_to resolved.reporter.display_name + " " + resolved.strftime_with(:created_at), user_path(resolved.reporter), :class => "user", :style => "width:100%;"
          %br
        - if resolved.eliminator_id
          Eliminado por:
          =link_to resolved.eliminator.display_name + " " + resolved.strftime_with(:eliminated_at), user_path(resolved.eliminator), :class => "user", :style => "width:100%;"
          %br
        - if resolved.is_resolved_verified == "t" and resolved.resolved_verifier_id
          Verificado por:
          = link_to resolved.resolved_verifier.display_name + " " + resolved.strftime_with(:resolved_verified_at), user_path(resolved.resolved_verifier), :class => "user"
        - elsif resolved.is_resolved_verified == "f" and resolved.resolved_verifier_id
          %p{:style => "color:red;font-weight:bold;margin-left:50px;margin-top:10px;"}
            Problema no foco marcado. Entre em contato conosco.
        
  .row
    .rp_report_options
      - if @current_user.admin?
        =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), resolved, :confirm => "Você tem certeza?", :method => :delete, :style => "margin-right:5px;"
