.report#resolved_report
  == Report #{resolved_report.id}: #{resolved_report.complete_address}
  #before_photo
    before
  #after_photo
    after
  #report_content
    = resolved_report.report
  #bottom_section
    #status
      Open
    %h4== Reporter: #{resolved_report.reporter.username}
    %h4== Eliminator: #{resolved_report.eliminator.username}
    #time_stamp
      = resolved_report.strftime_updated_at