= content_for :title, 'Edit Report'

= form_for [@current_user, @report], :url => {:action => "update"} do |f|
  = f.error_messages
  
  %fieldset
    %ul
      = f.label :address
      = f.text_field :address
      %li
      = f.label :report
      = f.text_area :report

  = f.submit "update"
