.row
  .span4.offset1
    - if flash[:notice] 
      %h2.notice{style: "margin: 10px; width: 700px;"}  
        = flash[:notice]
    - if flash[:error]
      %h2.alert{style: "margin: 10px; width: 700px;background-color:transparent;"} 
        = flash[:error]
    %h1 Focos marcados
  %br
  .span#report_buttons{:style => "font-size:20px;"}
    / %h1 Marcar um foco
    
.row          
  .row.span10.offset1
    #report_buttons
      
      = link_to 'Todos', reports_path(:view => 'recent'), :class=>'bttn reports_feed_button ' + @reports_feed_button_active
      = link_to 'Em aberto', reports_path(:view => 'open'), :class=>'bttn reports_open_button ' + @reports_open_button_active
      = link_to 'Eliminados', reports_path(:view => 'eliminate'), :class=>'bttn reports_resolved_button ' + @reports_resolved_button_active
      - if @current_user.role == "verificador"
        = link_to "Marcar um foco", "#", :class => 'bttn make_report_button ' + @make_report_button_active, :style => "margin-left:90px;padding-top:13px;background-color:#aaaaaa;color:white;font-weight:bold;height:21px;font-size:25px;pointer-events: none;"
      - else
        = link_to "Marcar um foco", reports_path(:view => 'make_report'), :class => 'bttn make_report_button ' + @make_report_button_active, :style => "margin-left:90px;padding-top:13px;background-color:#60BB50;color:white;font-weight:bold;height:21px;font-size:25px;"

  .row
    .span9.offset1
      - if params[:view] == 'recent'
        = render :partial => 'reports/recent', :action=>'index'
      - elsif params[:view] == 'open'
        = render :partial => 'reports/open_list'
      - elsif params[:view] == 'eliminate'
        = render :partial => 'reports/eliminate_list'
      - else params[:view] == 'make_report'
        = render :partial => "reports/make_report_form"
    
    .span6
      .row
        .span8
          .report_map_search{style: "overflow:auto;"}
            - if params[:view] == 'make_report'
              %h2{style: 'margin-left:10px;font-size:15px;line-height:25px;'}2. Clique na localização correta para adicionar um marcador.
              %input{type: "button", value: "Va para Maré", style: "float:right;margin:-20px 5px 5px 0px;", id: "go_to_mare"}
            - else
              %h2{style: 'margin-left: 10px;'} Procurar perto deste endereço
              %input.span6{:type => 'text', :placeholder => "Rua Sgt. Silva Nunes, 1012 - Ramos - Rio de Janeiro ", :style => 'margin-left: 10px; width: 330px;'}
      #map{style: "height: 440px;width:440px;margin-left:10px; margin-top:10px;"}
      

      - if params[:view] == 'make_report'
        :javascript
          var map, tb;
          require(["esri/map", "esri/toolbars/draw", "esri/tasks/locator", "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference", "esri/geometry/Point", "esri/config", "esri/graphic", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol", "dojo/_base/Color", "dojo/domReady!"], function(Map, Draw, Locator, Tiled, SpatialReference, Point, Geometry, Graphic, SimpleMarkerSymbol, SimpleLineSymbol, Color) {
            var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, new esri.SpatialReference({"wkid":29193}));

            var point = new Point(680291.2151545063, 7471401.29586681, new esri.SpatialReference({wkid: 29193}));
            map = new Map("map", {
              center: point,
              zoom: 6,
              extent: customExtent
            });
            
            var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
            map.addLayer(tiled);

            map.on("load", function() {
              
              tb = new Draw(map);
              tb.on("draw-end", addGraphic);
              tb.activate("point");
            });   

            function addGraphic(evt) {
              map.graphics.clear();
              map.enableMapNavigation();

              // figure out which symbol to use
              var symbol = new SimpleMarkerSymbol();
              symbol.setStyle("STYLE_PATH");
              symbol.setPath("M 10 10 L30 10 L20 30z");
              symbol.setColor(new Color("red"));
              
              $("input#x").val(evt.geometry.x);
              $("input#y").val(evt.geometry.y);
              map.graphics.add(new Graphic(evt.geometry, symbol));
              map.centerAt(evt.mapPoint);
            }

            $("#street_type").change(function() {

            });
            $("#street_name").change(function() {
            });

            $("#street_number").change(function() {
              $.ajax({
                url: "http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Geocode/DBO.Loc_composto/GeocodeServer/findAddressCandidates",
                type: "GET",
                dataType: "jsonp",
                data: {"f": "pjson", "Street": $("#street_type").val() + " " + $("#street_name").val() + " " + $("#street_number").val()},
                success: function(m) {
                  map.graphics.clear();
                  var candidates = m.candidates;
                  

                  if (candidates.length > 0) {
                    var symbol = new SimpleMarkerSymbol();
                    symbol.setStyle("STYLE_PATH");
                    symbol.setPath("M 10 10 L30 10 L20 30z");
                    symbol.setColor(new Color("red"));
                    map.graphics.add(new Graphic(new Point(candidates[0].location.x, candidates[0].location.y), symbol));
                    $("input#x").val(candidates[0].location.x);
                    $("input#y").val(candidates[0].location.y);
                    
                    map.centerAndZoom(new Point(candidates[0].location.x, candidates[0].location.y, new esri.SpatialReference({"wkid": 29193})), 6);
                  }
                },
                error: function(m) {
                  console.log(JSON.stringify(m));
                }
              });
            });
            $("input#go_to_mare").click(function() {
              map.centerAndZoom(new Point(680291.2151545063, 7471401.29586681, new esri.SpatialReference({"wkid": 29193})), 6)
            });
          });
      - else
        :javascript
          var map;

          require(["esri/map", "esri/toolbars/draw", "esri/tasks/locator", "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference", "esri/geometry/Point", "esri/config", "esri/graphic", "esri/symbols/SimpleMarkerSymbol", "esri/symbols/SimpleLineSymbol", "dojo/_base/Color", "dojo/domReady!"], function(Map, Draw, Locator, Tiled, SpatialReference, Point, Geometry, Graphic, SimpleMarkerSymbol, SimpleLineSymbol, Color) {
            var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, new esri.SpatialReference({"wkid":29193}));

            var point = new Point(680291.2151545063, 7471401.29586681, new esri.SpatialReference({wkid: 29193}));
            map = new Map("map", {
              center: point,
              zoom: 6,
              extent: customExtent
            });
            
            var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
            map.addLayer(tiled);

            map.on("load", function() {
              var markers = #{@markers.to_json};
              for (var i = 0; i < markers.length; i++) {
                var symbol = new SimpleMarkerSymbol();
                symbol.setStyle("STYLE_PATH");
                symbol.setPath("M 10 10 L30 10 L20 30z");
                symbol.setColor(new Color("red"));

                map.graphics.add(new Graphic(new Point(markers[i].y, markers[i].x), symbol));
              }

              
            });   
          });




