.row
  .span4.offset1
    = flash[:notice]
    %h1 Focos marcados
  %br
  .span#report_buttons{:style => "font-size:20px;"}
    / %h1 Marcar um foco
    = link_to "Marcar um foco", reports_path(:view => 'make_report'), :class => 'bttn make_report_button ' + @make_report_button_active, :style => "position:absolute;top:57px;left:400px;padding-top:13px;background-color:#60BB50;color:white;font-weight:bold;height:21px;"
.row          
  .row.span10.offset1
    #report_buttons
      
      = link_to 'Todos', reports_path(:view => 'recent'), :class=>'bttn reports_feed_button ' + @reports_feed_button_active
      = link_to 'Em aberto', reports_path(:view => 'open'), :class=>'bttn reports_open_button ' + @reports_open_button_active
      = link_to 'Eliminados', reports_path(:view => 'eliminate'), :class=>'bttn reports_resolved_button ' + @reports_resolved_button_active

  .row
    .span9.offset1
      - if params[:view] == 'recent'
        = render :partial => 'reports/recent', :action=>'index'
      - elsif params[:view] == 'open'
        = render :partial => 'reports/open_list'
      - elsif params[:view] == 'eliminate'
        = render :partial => 'reports/eliminate_list'
      - else params[:view] == 'make_report'
        = render :partial => "reports/make_report_form"
    
    .span6
      .row
        .span6
          .report_map_search
            %h2{style: 'margin-left: 10px;'} Procurar perto deste endereço
            %input.span6{:type => 'text', :placeholder => "Rua Sgt. Silva Nunes, 1012 - Ramos - Rio de Janeiro ", :style => 'margin-left: 10px; width: 330px;'}
      .row{:style => "width:300px; height: 300px;"}
        / # = gmaps4rails(@map_json

