.row
  .span4.offset1
    - if flash[:notice] 
      %h2.notice{style: "margin: 10px; width: 700px;"}  
        = flash[:notice]
    - if flash[:error]
      %h2.alert{style: "margin: 10px; width: 700px;background-color:transparent;"} 
        = flash[:error]
    %h1 Focos marcados
  %br
  .span#report_buttons{:style => "font-size:20px;"}
    / %h1 Marcar um foco
    
.row          
  .row.span10.offset1
    #report_buttons
      
      = link_to 'Todos', reports_path(:view => 'recent'), :class=>'bttn reports_feed_button ' + @reports_feed_button_active
      = link_to 'Em aberto', reports_path(:view => 'open'), :class=>'bttn reports_open_button ' + @reports_open_button_active
      = link_to 'Eliminados', reports_path(:view => 'eliminate'), :class=>'bttn reports_resolved_button ' + @reports_resolved_button_active
      - if @current_user.role == "verificador"
        = link_to "Marcar um foco", "#", :class => 'bttn make_report_button ' + @make_report_button_active, :style => "margin-left:90px;padding-top:13px;background-color:#aaaaaa;color:white;font-weight:bold;height:21px;font-size:25px;pointer-events: none;"
      - else
        = link_to "Marcar um foco", reports_path(:view => 'make_report'), :class => 'bttn make_report_button ' + @make_report_button_active, :style => "margin-left:90px;padding-top:13px;background-color:#60BB50;color:white;font-weight:bold;height:21px;font-size:25px;"

  .row
    .span9.offset1
      - if params[:view] == 'recent'
        = render :partial => 'reports/recent', :action=>'index'
      - elsif params[:view] == 'open'
        = render :partial => 'reports/open_list'
      - elsif params[:view] == 'eliminate'
        = render :partial => 'reports/eliminate_list'
      - else params[:view] == 'make_report'
        = render :partial => "reports/make_report_form"
    
    .span6
      .row
        .span6
          .report_map_search
            %h2{style: 'margin-left: 10px;'} Procurar perto deste endereço
            %input.span6{:type => 'text', :placeholder => "Rua Sgt. Silva Nunes, 1012 - Ramos - Rio de Janeiro ", :style => 'margin-left: 10px; width: 330px;'}
      .row
        #map{style: "height: 300px;margin-left:10px; margin-top:10px;"}
        :javascript
          var map;

          require(["esri/map", "esri/layers/ArcGISTiledMapServiceLayer", "esri/SpatialReference", "esri/geometry/Point", "esri/config", "esri/graphic", "esri/symbols/SimpleMarkerSymbol", "dojo/domReady!"], function(Map, Tiled, SpatialReference, Point, Geometry, Graphic, SimpleMarkerSymbol) {
            var customExtent = new esri.geometry.Extent(667070.412263838,7456962.88258577,688175.480935968,7475960.60361382, new esri.SpatialReference({"wkid":29193}));

            var point = new Point(662255.283176082, 7464968.42407467, new esri.SpatialReference({wkid: 29193}));
            map = new Map("map", {
              center: point,
              zoom: 8,
              extent: customExtent
            });
            
            var tiled = new Tiled("http://pgeo2.rio.rj.gov.br/ArcGIS2/rest/services/Basico/mapa_basico_utm/MapServer");
            map.addLayer(tiled);

            map.on("load", function() {
              var marker = new Point(662255.283176082, 7464968.42407467);
              var graphic = new Graphic(marker, new SimpleMarkerSymbol());
              map.graphics.add(graphic);
            });
            
            
          });



