-#= gmaps4rails(@json)
.row
  .span8.offset1
    = flash[:notice]
    %h1 My Dengue Reports
.row
  #report_stats
    .span2.offset1
      #rank_box
        %b No. 1
    .span2
      #point_box
        %b 2390
        %br Points earned
    .span3
      %b 1700
      %br report contributions
    .span9
      .row#report_buttons
        = link_to 'Recent Reports', reports_path(:view => 'recent'), :class=>'bttn reports_feed_button ' + @reports_feed_button_active  
        = link_to 'Open a Report', reports_path(:view => 'open'), :class=>'bttn reports_open_button ' + @reports_open_button_active
        = link_to 'Claim a Report', reports_path(:view => 'claim'), :class=>'bttn reports_claimed_button ' + @reports_claimed_button_active
        = link_to 'Eliminate a Report', reports_path(:view => 'eliminate'), :class=>'bttn reports_resolved_button ' + @reports_resolved_button_active

  .row
    .span9.offset1
      - if params[:view] == 'recent'
        = render :partial => 'reports/recent', :action=>'index'
      - elsif params[:view] == 'open'
        = render :partial => 'reports/new'
      - elsif params[:view] == 'claim'
        = render :partial => 'reports/claim_list'
      - else params[:view] == 'eliminate'
        = render :partial => 'reports/eliminate_list'
    .span6
      .row
        #report_map Google Map
      .row
        - if params[:view] != 'open'
          #report_sponsors Local Sponsors