.header
  .title REPORT A SITE
  .sub virtual SMS
.clearfloat

= content_for :title, 'Add a Report'
= form_for @report, :url => {:action => "create"} do |f|
  = f.error_messages
  
  %fieldset
    %ul
      %li
        = f.label :report
        = f.text_area :report
      = fields_for @report.location do |location_form|
        %li
          = location_form.label :nation
          = location_form.text_field :nation
        %li
          = location_form.label :state
          = location_form.text_field :state
        %li
          = location_form.label :city
          = location_form.text_field :city
        %li
          = location_form.label :address
          = location_form.text_field :address
        %li
          = location_form.label :neighborhood
          = location_form.text_field :neighborhood

  = f.submit "submit"
