#dashboard_bar
  .offset4
    %ul
      %li
        = image_tag("icons/profile_icon.png")
        = link_to 'My Profile', user_path(@current_user)
      %li
        = image_tag("icons/house_icon.png")
        = link_to 'My House', house_path(@current_user.house)
      %li
        = image_tag("icons/neighborhood_icon.png")
        = link_to 'My Neighborhood', neighborhood_path(@current_user.neighborhood)
      %li
        = image_tag("icons/make_report_icon.png")
        = link_to 'My Reports', reports_path
      %li
        = image_tag("http://placehold.it/32x32")
        = link_to 'Account Settings', edit_user_path(@current_user)
      %li
        = image_tag("http://placehold.it/32x32")
        = link_to "Logout", session_path, :method => :delete