#dashboard_bar
  .row
    %ul
      %li.span2.offset4
        = image_tag("http://placehold.it/32x32")
        Feed
      %li.span2
        = image_tag("http://placehold.it/32x32")
        Report
      %li.span2.spacer
        = image_tag("http://placehold.it/32x32")
        Notifications
      %li.span2.spacer
        = image_tag("http://placehold.it/32x32")
        Leaderboard
      %li.span2
        = image_tag("http://placehold.it/32x32")
        Edit
      %li.span2
        = image_tag("http://placehold.it/32x32")
        Redeem