#home_nav_bar
  .row
    %ul
      = link_to image_tag("home_images/logo.png", :id => "logo"), root_path
      %li.main_nav_button.span2.offset4
        %h1= link_to "LEARN", root_path
        %h3 About dengue
      %li.main_nav_button.span1.offset1
        %h1= link_to "PLAY", root_path
        %h3 &nbsp;&nbsp;How?
      %li.main_nav_button.span1.offset1
        %h1= link_to "WIN", root_path
        %h3 What?  
      %li.span3
        = render "layouts/login"