- if @current_user.nil?
  #login
    
    #login_error
      - if flash[:alert]
        %p.alert
          = flash[:alert]
      - else
        %br
        
    = form_tag session_path do
      = text_field_tag :username, nil, :placeholder => "Username"
      = password_field_tag :password, nil, :placeholder => "Password"
      = submit_tag "login"
      = link_to 'Register', new_user_path, :id => "register_button"
      = link_to "Forgot password?", new_password_reset_path
      %br
      = check_box_tag :remember_me, 1, params[:remember_me]
      = label_tag :remember_me
    


- else
  %div#logged_in_section
    %a#logged_in_message logged in as:
    %a#username #{@current_user.username}
    %a#logout_link
      %br
      = link_to "Logout", session_path, :method => :delete
      %br
      = link_to "Account Settings", edit_user_path(@current_user.id)