- if @current_user.nil?
  #login
    #login_error
      = flash[:alert]
            
    = form_tag session_path do
      %ul
        %li= text_field_tag :username, nil, :placeholder => "Nome de usuário"
        %li= password_field_tag :password, nil, :placeholder => "Senha"       
      = link_to "Esqueceu sua senha?", new_password_reset_path, :id => "forgot_password"  
      = submit_tag "Entrar"
     
- else
  #logged_in
    .row
      %h3.span6
        Olá #{@current_user.username}!
    .row
      #dashboard_search
        %input{:type => 'text', :placeholder => "Busca"}
      = image_tag("icons/logout4.png")
      = link_to "Sair", logout_path  