!!!
%html
  %head
    %title Dengue
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :scripts

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #container
      = render "layouts/home_nav"
      #white_spacer
      -if !@current_user.nil?
        = render "layouts/dashboard"
     
      - if !current_page?(root_url)
        .push_down
      
      = yield
  
  #footer
    %span 
      =link_to "F.A.Q", faq_path 
      |     
      =link_to "Contact", contact_path 
      |  
      =link_to "About", about_path
    %span 2012 © Regents of the University of California | Created by the Social Apps Labs

