!!!
%html
  %head
    %title Dengue
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :scripts

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #container
      #home_nav_bar
        .row
          -# if logged in use short_logo, generate dashboard bar
          -if @current_user.nil?
            -##login_bg
            = link_to image_tag("home_images/logo.png", :id => "logo"), root_path
            .main_nav_button.span2.offset4
              = link_to "LEARN", root_path
              %span About dengue
            .main_nav_button.span1.offset1
              = link_to "PLAY", root_path
              %span &nbsp;&nbsp;How?
            .main_nav_button.span2.offset1
              = link_to "WIN", root_path
              %span What?
            .span3.offset1
              = render "layouts/login"
          -else
            %ul
              = link_to "sdfsdf", root_path
              %li.main_nav_button.span2.offset4
                = link_to "LEARN", root_path
                %span About dengue
              %li.main_nav_button.span1.offset1
                = link_to "PLAY", root_path
                %span &nbsp;&nbsp;How?
              %li.main_nav_button.span2.offset1
                = link_to "WIN", root_path
                %span What?
              %li.span4.offset1
                = render "layouts/login"
            
             
      -if !@current_user.nil?
        .row
          %ul#dashboard_bar
            %li.span2.offset4
              = image_tag("http://placehold.it/32x32")
              Feed
            %li.span2
              = image_tag("http://placehold.it/32x32")
              Report
            %li.span2.spacer
              = image_tag("http://placehold.it/32x32")
              Notifications
            %li.span2.spacer
              = image_tag("http://placehold.it/32x32")
              Leaderboard
            %li.span2
              = image_tag("http://placehold.it/32x32")
              Edit
            %li.span2
              = image_tag("http://placehold.it/32x32")
              Redeem
      
        
           
          
      = yield
  
  #footer
    %span F.A.Q   |   Contact   |   About
    %span 2012 © Regents of the University of California | Created by the Social Apps Labs

