!!!
%html
  %head
    %title Dengue
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :scripts

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    %nav#main_nav_bar
      = link_to image_tag("bg_logo1.png", :id => "logo"), root_path
      %section#login
        = link_to "Login", new_session_path
        or 
        = link_to "Register", new_user_path, :id => "register"
      = link_to "MAKE REPORTS", new_session_path,:class => "main_nav_button"
      = link_to "CLAIM REPORTS", new_session_path,:class => "main_nav_button"
      = link_to "HEAT MAP", new_session_path,:class => "main_nav_button"
      = link_to "FORUM", new_session_path,:class => "main_nav_button"
    
    - flash.each do |key, msg|
      = content_tag :div, msg, :class => [key, :flash], :id => [key, :flash]
    = yield :content

