!!!
%html
  %head
    %title Dengue Torpedo
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :scripts

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #container
      = render "layouts/home_nav"
      #white_spacer
      -if !@current_user.nil?
        = render "layouts/dashboard"
     
      - if !current_page?(root_url)
        .push_down
      
      = yield
  
  #footer
    %span 
      =link_to "Perguntas frequentes", faq_path 
      |     
      =link_to "Contato", contact_path 
      |  
      =link_to "Sobre o Dengue Torpedo", about_path
    %span 
      2012 © Regents of the University of California  
      | 
      =link_to "Criado pelo Social Apps Lab, UC Berkeley", credit_path

