!!!
%html
  %head
    %title Dengue
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :scripts

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #home_nav_bar 
      = link_to image_tag("non_home_nav/short_logo.png", :id => "logo"), root_path
      .main_nav_button
        = link_to "LEARN", root_path
        %span About dengue
      .main_nav_button
        = link_to "PLAY", root_path
        %span How?
      .main_nav_button
        = link_to "WIN", root_path
        %span What?
      = render "layouts/login"
    
    = yield
  
    #footer
      %span F.A.Q   |   Contact   |   About
      %span 2012 © Regents of the University of California | Created by the Social Apps Labs

