!!!
%html
  %head
    %title Dengue
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
    #logo_sub
      
    .navbar{:style => "background-image:url(/assets/bg_header_nav.png); background-repeat:no-repeat"}
      .button_right_top
        LOGIN
        .button_right_tops
          or register
      .button_tran
        MAKE REPORTS
      .button_tran
        CLAIM_REPORTS
      .button_tran
        FORUM

    - flash.each do |key, msg|
      = content_tag :div, msg, :class => [key, :flash], :id => [key, :flash]

    = yield

