!!!
%html
  %head
    %title Dengue
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    = yield :scripts
    
  %body{:class => [params[:controller].parameterize, params[:action].parameterize]}
  - if @is_home == "home_nav"
    %div{:id => "home_nav_bar"}
      = link_to image_tag("home_images/logo.png", :id => "logo"), root_path
      .main_nav_button
        = link_to "LEARN", new_session_path
        .main_nav_button_sub about dengue
      .main_nav_button
        = link_to "PLAY", new_session_path
        .main_nav_button_sub How?
      .main_nav_button
        = link_to "WIN", new_session_path
        .main_nav_button_sub What?
      #login
        = form_tag session_path do
          %p
            = text_field_tag :username, nil, :placeholder => "Username"
          %p
            = password_field_tag :password, nil, :placeholder => "Password"
          %p
            = check_box_tag :remember_me, 1, params[:remember_me]
            = label_tag :remember_me
          = submit_tag "login"
          = link_to "Forgot password?", new_password_reset_path


  - else
    %div{:id => "non_home_nav_bar"} 
      = link_to image_tag("non_home_nav/short_logo.png", :id => "logo"), root_path
      .main_nav_button
        = link_to "LEARN", new_session_path
        .main_nav_button_sub about dengue
      .main_nav_button
        = link_to "PLAY", new_session_path
        .main_nav_button_sub How?
      .main_nav_button
        = link_to "WIN", new_session_path
        .main_nav_button_sub What?



    
  - flash.each do |key, msg|
    = content_tag :div, msg, :class => [key, :flash], :id => [key, :flash]
  = yield

